<section class="s2" id="about">
  <div class="container">
    <p class="content-txt">Северинівка – це краса природи та чисте повітря. Це неймовірно гармонійне поєднання міських
      <br class="br-desktop br-desktop1">інфраструктурних елементів з абсолютно безтурботним заміським життям. Це ваша безпека, комфорт та спокій.
      <br class="br-desktop br-desktop1">Це щасливе дитинство ваших дітей. Це повна реалізація ваших мрій вже зараз.</p>
    <div class="preform-cards">
      <div class="preform-card">
        <div class="svg-container">
          <svg class="icon-box s2-svg-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="img/sprite.svg#s2-svg-1"></use>
          </svg>
        </div>
        <p>Класичний
          <br class="br-mobile">північно-
          <br class="br-desktop">
          <br class="br-mobile">американський
          <br class="br-mobile">стиль</p>
      </div>
      <div class="preform-card">
        <div class="svg-container">
          <svg class="icon-box s2-svg-3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="img/sprite.svg#s2-svg-3"></use>
          </svg>
        </div>
        <p>В оточенні
          <br class="br-mobile">березового гаю
          <br class="br-desktop">
          <br class="br-mobile">і соснового
          <br class="br-mobile">лісу</p>
      </div>
      <div class="preform-card">
        <div class="svg-container">
          <svg class="icon-box s2-svg-4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="img/sprite.svg#s2-svg-4"></use>
          </svg>
        </div>
        <p>На березі
          <br class="br-mobile">безіменного
          <br class="br-desktop">
          витоку
          <br class="br-mobile">річки Буча</p>
      </div>
      <div class="preform-card">
        <div class="svg-container">
          <svg class="icon-box s2-svg-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="img/sprite.svg#s2-svg-2"></use>
          </svg>
        </div>
        <p>23 км <br class="br-mobile">від Києва</p>
      </div>
      <div class="preform-card">
        <div class="svg-container">
          <svg class="icon-box s2-svg-5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="img/sprite.svg#s2-svg-5"></use>
          </svg>
        </div>
        <p>Власна <br class="br-mobile">експлуатаційна <br>служба</p>
      </div>
      <div class="preform-card">
        <div class="svg-container">
          <svg class="icon-box s2-svg-6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="img/sprite.svg#s2-svg-6"></use>
          </svg>
        </div>
        <p>централізовані <br>інженерні <br class="br-mobile">комунікації</p>
      </div>
      <div class="preform-card">
        <div class="svg-container">
          <svg class="icon-box s2-svg-7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="img/sprite.svg#s2-svg-7"></use>
          </svg>
        </div>
        <p>Цілодобова <br class="br-mobile">охорона <br class="br-desktop">та відео<span class="mobile-line">-</span><br class="br-mobile">спостереження</p>
      </div>
      <div class="preform-card">
        <div class="svg-container">
          <svg class="icon-box s2-svg-8" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="img/sprite.svg#s2-svg-8"></use>
          </svg>
        </div>
        <p>Власний <br class="br-mobile">маршрутний <br>транспорт</p>
      </div>
    </div>
  </div>
</section>