<section class="s4" id="types">
  <div class="container">
    <h2 class="s-header">Типи котеджів</h2>
    <div class="build-type-container">
      <div class="build-type">
        <div class="swiper-wrapper">
        </div>
      </div>
      <div class="prev-slide">
        <svg class="icon-box swiper-arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use xlink:href="img/sprite.svg#swiper-arrow"></use>
        </svg>
      </div>
      <div class="next-slide ">
        <svg class="icon-box swiper-arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use xlink:href="img/sprite.svg#swiper-arrow"></use>
        </svg>
      </div>
    </div>
  </div>
</section>