<section class="s4" id="types">
  <div class="container">
    <h2 class="s-header">Типы коттеджей</h2>
    <div class="build-type-container">
      <div class="build-type">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
   <!--        <div class="swiper-slide">
            <div class="slide-content">
              <div class="slide-img-wrap">
                <img src="img/build-type/type_02.png" alt="build-type">
              </div>
              <div class="slide-text"><span class="slide-text__bold">ТИП 1 </span> | 255,15 м2</div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide-content">
              <div class="slide-img-wrap">
                <img src="img/build-type/type_03.png" alt="build-type">
              </div>
              <div class="slide-text"><span class="slide-text__bold">ТИП 1 </span> | 255,15 м2</div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide-content">
              <div class="slide-img-wrap">
                <img src="img/build-type/type_04.png" alt="build-type">
              </div>
              <div class="slide-text"><span class="slide-text__bold">ТИП 1 </span> | 255,15 м2</div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide-content">
              <div class="slide-img-wrap">
                <img src="img/build-type/type_05.png" alt="build-type">
              </div>
              <div class="slide-text"><span class="slide-text__bold">ТИП 1 </span> | 255,15 м2</div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide-content">
              <div class="slide-img-wrap">
                <img src="img/build-type/type_06.png" alt="build-type">
              </div>
              <div class="slide-text"><span class="slide-text__bold">ТИП 1 </span> | 255,15 м2</div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide-content">
              <div class="slide-img-wrap">
                <img src="img/build-type/type_07.png" alt="build-type">
              </div>
              <div class="slide-text"><span class="slide-text__bold">ТИП 1 </span> | 255,15 м2</div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide-content">
              <div class="slide-img-wrap">
                <img src="img/build-type/type_08.png" alt="build-type">
              </div>
              <div class="slide-text"><span class="slide-text__bold">ТИП 1 </span> | 255,15 м2</div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide-content">
              <div class="slide-img-wrap">
                <img src="img/build-type/type_09.png" alt="build-type">
              </div>
              <div class="slide-text"><span class="slide-text__bold">ТИП 1 </span> | 255,15 м2</div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide-content">
              <div class="slide-img-wrap">
                <img src="img/build-type/type_10.png" alt="build-type">
              </div>
              <div class="slide-text"><span class="slide-text__bold">ТИП 1 </span> | 255,15 м2</div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide-content">
              <div class="slide-img-wrap">
                <img src="img/build-type/type_12.png" alt="build-type">
              </div>
              <div class="slide-text"><span class="slide-text__bold">ТИП 1 </span> | 255,15 м2</div>
            </div>
          </div> -->
        </div>
      </div>
      <div class="prev-slide">
        <svg class="icon-box swiper-arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use xlink:href="img/sprite.svg#swiper-arrow"></use>
        </svg>
      </div>
      <div class="next-slide ">
        <svg class="icon-box swiper-arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use xlink:href="img/sprite.svg#swiper-arrow"></use>
        </svg>
      </div>
    </div>
  </div>
</section>