<section class="s5" id="plan">
  <div class="container">
    <div class="plan">
      <div class="zoom-container">
        <div class="zoom-btn plan-settings">
          <svg class="icon-box svg-plan-settings" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="img/sprite.svg#plan-settings"></use>
          </svg>
        </div>
        <div class="zoom-btn zoom-in">
          <svg class="icon-box svg-zoom-in" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="img/sprite.svg#zoom-in"></use>
          </svg>
        </div>
        <div class="zoom-btn zoom-out">
          <svg class="icon-box svg-zoom-out" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="img/sprite.svg#zoom-out"></use>
          </svg>
        </div>
        <div class="zoom-btn zoom-reset">
          <svg class="icon-box svg-zoom-out" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="img/sprite.svg#zoom-out"></use>
          </svg>
        </div>
      </div>
      <div class="plan-map-container">
        <img class="plan-map" src="img/plan/plan_map.jpg" alt="plan_map">
      </div>
    </div>
    <div class="plan-scheme-container">
      <div class="plan-scheme">
        <div class="plan-close">
          <svg class="icon-box svg-plan-close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="img/sprite.svg#plan-close"></use>
          </svg>
        </div>
        <h2 class="s-header  s-header-common">ФИЛЬТР</h2>
        <h3 class="header-type">Типы коттеджей</h3>
        <div class="plan-type">
          <div class="plan-type-item" data-plan-type="type-1">
            <label>
              <input class="checkbox" type="checkbox" name="checkbox-type">
              <span class="checkbox-custom"></span>
              <span class="label-txt">Тип 1 | 255,15 м2</span>
            </label>
          </div>
          <div class="plan-type-item" data-plan-type="type-2">
            <label>
              <input class="checkbox" type="checkbox" name="checkbox-type">
              <span class="checkbox-custom"></span>
              <span class="label-txt">Тип 2 | 200,26 м2</span>
            </label>
          </div>
          <div class="plan-type-item" data-plan-type="type-3">
            <label>
              <input class="checkbox" type="checkbox" name="checkbox-type">
              <span class="checkbox-custom"></span>
              <span class="label-txt">Тип 3 | 252,15 м2</span>
            </label>
          </div>
          <div class="plan-type-item" data-plan-type="type-4">
            <label>
              <input class="checkbox" type="checkbox" name="checkbox-type">
              <span class="checkbox-custom"></span>
              <span class="label-txt">Тип 4 | 330,19 м2</span>
            </label>
          </div>
          <div class="plan-type-item" data-plan-type="type-5">
            <label>
              <input class="checkbox" type="checkbox" name="checkbox-type">
              <span class="checkbox-custom"></span>
              <span class="label-txt">Тип 5 | 601,77 м2</span>
            </label>
          </div>
          <div class="plan-type-item" data-plan-type="type-6">
            <label>
              <input class="checkbox" type="checkbox" name="checkbox-type">
              <span class="checkbox-custom"></span>
              <span class="label-txt">Тип 6 | 436,19 м2</span>
            </label>
          </div>
          <div class="plan-type-item" data-plan-type="type-7">
            <label>
              <input class="checkbox" type="checkbox" name="checkbox-type">
              <span class="checkbox-custom"></span>
              <span class="label-txt">Тип 7 | 414,78 м2</span>
            </label>
          </div>
          <div class="plan-type-item" data-plan-type="type-8">
            <label>
              <input class="checkbox" type="checkbox" name="checkbox-type">
              <span class="checkbox-custom"></span>
              <span class="label-txt">Тип 8 | 565,76 м2</span>
            </label>
          </div>
          <div class="plan-type-item" data-plan-type="type-9">
            <label>
              <input class="checkbox" type="checkbox" name="checkbox-type">
              <span class="checkbox-custom"></span>
              <span class="label-txt">Тип 9 | 546,62 м2</span>
            </label>
          </div>
          <div class="plan-type-item" data-plan-type="type-10">
            <label>
              <input class="checkbox" type="checkbox" name="checkbox-type">
              <span class="checkbox-custom"></span>
              <span class="label-txt">Тип 10 | 175,46 м2</span>
            </label>
          </div>
          <div class="plan-type-item" data-plan-type="type-10">
            <label>
              <input class="checkbox" type="checkbox" name="checkbox-type">
              <span class="checkbox-custom"></span>
              <span class="label-txt">Тип 10 | 175,46 м2</span>
            </label>
          </div>
          <div class="plan-type-item" data-plan-type="type-10">
            <label>
              <input class="checkbox" type="checkbox" name="checkbox-type">
              <span class="checkbox-custom"></span>
              <span class="label-txt">Тип 10 | 175,46 м2</span>
            </label>
          </div>
          <div class="plan-type-item" data-plan-type="type-10">
            <label>
              <input class="checkbox" type="checkbox" name="checkbox-type">
              <span class="checkbox-custom"></span>
              <span class="label-txt">Тип 10 | 175,46 м2</span>
            </label>
          </div>
        </div>
        <div class="plan-number-btns">
          <button class="plan-number-btn btn-type-add">отметить все</button>
          <button class="plan-number-btn btn-type-clear">снять выделение</button>
        </div>
        <h3 class="header-type">Номера домов</h3>
        <div class="plan-number">
        </div>
        <div class="plan-number-btns">
          <button class="plan-number-btn btn-type-add">отметить все</button>
          <button class="plan-number-btn btn-type-clear">снять выделение</button>
        </div>
      </div>
    </div>
  </div>
</section>