<section class="s8" id="contacts">
  <div class="container">
    <h2 class="s-header">Контакты</h2>
    <div class="contacts">
      <div class="contact-item contact-item-1">
        <a href="javascript:void(0);">
          <svg class="icon-box s8-svg-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="img/sprite.svg#s8-svg-1"></use>
          </svg>
          093 030 13 03
        </a>
      </div>
      <div class="contact-item contact-item-2">
        <a href="javascript:void(0);">
          <svg class="icon-box s8-svg-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="img/sprite.svg#s8-svg-2"></use>
          </svg>
          info@severinovka.com.ua
        </a>
      </div>
      <div class="contact-item contact-item-3">
        <a href="javascript:void(0);">
          <span class="s8-ico-png s8-ico-viber"></span>
          <span class="contact-item-txt">viber</span>
        </a>
      </div>
      <div class="contact-item contact-item-4">
        <a href="javascript:void(0);">
          <span class="s8-ico-png s8-ico-telegram"></span>
          <span class="contact-item-txt">telegram</span>
        </a>
      </div>
      <div class="contact-item contact-item-5">
        <a href="javascript:void(0);">
          <span class="s8-ico-png s8-ico-fb"></span>
          <span class="contact-item-txt">facebook</span>
        </a>
      </div>
      <div class="contact-item contact-item-6">
        <a href="javascript:void(0);">
          <span class="s8-ico-png s8-ico-inst"></span>
          <span class="contact-item-txt">instagram</span>
        </a>
      </div>
      <div class="contact-item contact-item-7">
        <a id="gmapLink" href="https://www.google.com.ua/maps/dir/50.4474613,30.2409422/Коттеджный+городок+Севериновка,+Киевская+область/@50.4225832,30.0322622,12z" target="_blank">
          <span class="s8-ico-png s8-ico-google"></span>
          проложить маршрут
        </a>
      </div>
    </div>
  </div>
</section>