.s10 {
  background-color: #E0E0E0;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 256px;
  }

  .footer-logo {
    @include sprite($logo-2);
    background-image: url(../img/sprite.png);
  }

  .footer-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 277px;
    margin-top: 10px;
  }

  .footer-social-item {
    display: block;
  }

  .footer-ico-facebook {
    width: 36px;
    height: 36px;
  }

  .footer-ico-viber {
    @include sprite($viber);
  }
  .footer-ico-telegram {
    @include sprite($telegram);
  }
  .footer-ico-inst {
    @include sprite($inst);
  }
  .footer-ico-fb {
    @include sprite($fb);
  }


  .footer-ico-viber,
  .footer-ico-telegram,
  .footer-ico-inst,
  .footer-ico-fb {
    display: block;
    background-image: url(../img/sprite.png);
  }
}


@media screen and (max-width: 1259px) and (min-width: 640px) {

  .s10 {
    .container {
      height: 112px;
      padding: 0;
    }



    .footer-social {
      width: 245px;
    }
  }
}

@media screen and (max-width: 639px) {

  .s10 {
    .container {
      height: 117px;
      padding: 0;
    }


    .footer-social {
      display: none;
      width: 245px;
    }
  }
}