.s2 {
  padding: 97px 0 10px;
  background-color: #ffffff;

  .mobile-line {
    display: none;
  }

  .preform-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #F3914E;
    justify-content: space-between;
    margin-bottom: 46px;

    &:after {
      content: '';
      width: 100%;
      order: 0;
    }
  }

  svg {
    fill: #F3914E;
  }

  .preform-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    justify-content: center;
    text-align: center;

    &:nth-of-type(5),
    &:nth-of-type(6),
    &:nth-of-type(7),
    &:nth-of-type(8) {
      order: 1;
    }

    &:nth-of-type(1),
    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4) {
      margin-bottom: 32px;
    }

    p {
      @extend %stsBold;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 0.38px;
      text-transform: uppercase;
    }
  }

  .svg-container {
    height: 68px;
    margin-bottom: 17px;
    display: flex;
    align-items: flex-end;
  }

  $svg-width: 162px,
  65px,
  130px,
  87px,
  60px,
  88px,
  76px,
  92px;

  @for $i from 1 through length($svg-width) {
    .s2-svg-#{$i} {
      width: nth($svg-width, $i);
    }
  }

  $svg-height: 54px,
  63px,
  58px,
  68px,
  52px,
  52px,
  54px,
  52px;
  @for $i from 1 through length($svg-height) {
    .s2-svg-#{$i} {
      height: nth($svg-height, $i);
    }
  }

  .content-txt {
    @extend %sdReg;
    font-size: 15px;
    line-height: 29px;
    letter-spacing: 0.38px;
    color: #525252;
    text-align: center;
    margin-bottom: 47px;
  }
}



@media screen and (max-width: 1259px) and (min-width: 640px) {

  .s2 {
    padding: 68px 0 55px;

    .container {
      padding: 0 50px;
    }

    .preform-cards {
      height: auto;
      margin-bottom: 0;

      &:after {
        display: none;
      }
    }

    .preform-card {
      width: 50%;
      margin-bottom: 20px;


      &:nth-of-type(1),
      &:nth-of-type(2),
      &:nth-of-type(3),
      &:nth-of-type(4) {
        margin-bottom: 20px;
      }


      p {
        font-size: 14px;
      }
    }

    .svg-container {
      margin-bottom: 13px;
    }

    $svg-width: 144px,
    50px,
    108px,
    62px,
    52px,
    76px,
    63px,
    80px;
    @for $i from 1 through length($svg-width) {
      .s2-svg-#{$i} {
        width: nth($svg-width, $i);
      }
    }

    $svg-height: 48px,
    48px,
    48px,
    48px,
    45px,
    45px,
    45px,
    45px;
    @for $i from 1 through length($svg-height) {
      .s2-svg-#{$i} {
        height: nth($svg-height, $i);
      }
    }

    .content-txt {
      font-size: 14px;
      line-height: 28px;
      letter-spacing: 0.35px;
      margin-bottom: 36px;
    }
  }
}


@media screen and (max-width: 639px) {

  .s2 {
    padding: 57px 0 18px;

    .mobile-line {
      display: inline-block;
    }

    .br-mobile {
      display: block;
    }

    .container {
      padding: 0 14px;
      max-width: 527px;
      margin: 0 auto;
    }

    .preform-cards {
      flex-direction: row;
      flex-wrap: wrap;
      height: 279px;
      align-items: center;
      height: auto;

      &:after {
        display: none;
      }

      justify-content: flex-start;
      margin-bottom: 0;
    }

    .preform-card {
      justify-content: flex-start;
      min-height: 134px;
      width: 50%;
      margin-bottom: 0px;

      &:nth-of-type(1),
      &:nth-of-type(2),
      &:nth-of-type(3),
      &:nth-of-type(4) {
        margin-bottom: 0px;
      }
      p {
        font-size: 10px;
        line-height: 1.2;
        letter-spacing: 0.25px;
      }
    }

    .svg-container {
      height: 42px;
      margin-bottom: 13px;
    }

    $svg-width: 108px,
    38px,
    81px,
    46px,
    40px,
    59px,
    49px,
    62px;
    @for $i from 1 through length($svg-width) {
      .s2-svg-#{$i} {
        width: nth($svg-width, $i);
      }
    }

    $svg-height: 36px,
    36px,
    36px,
    36px,
    35px,
    35px,
    35px,
    35px;
    @for $i from 1 through length($svg-height) {
      .s2-svg-#{$i} {
        height: nth($svg-height, $i);
      }
    }

    .content-txt {
      font-size: 13px;
      line-height: 24px;
      letter-spacing: 0.33px;
      height: auto;
      margin-bottom: 35px;
    }
  }
}