.s3 {
  padding: 70px 0 96px;
  background-color: #F5F5F5;

  .container {
    padding: 0 58px;
  }

  h2 {
    margin-bottom: 58px;
  }

  .infrastructure-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .inf-card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    text-align: center;
  }

  .inf-card-10,
  .inf-card-6,
  .inf-card-7,
  .inf-card-8,
  .inf-card-9 {
    margin-top: 36px;
  }

  .icon-box {
    fill: #B3B3B3;
  }


  span {
    @extend %stsBold;
    font-size: 15px;
    letter-spacing: 0.38px;
    text-transform: uppercase;
    color: #525252;
  }

  .svg-container {
    height: 60px;
    margin-bottom: 19px;
    display: flex;
    align-items: flex-end;
  }

  $svg-width: 45px,
  68px,
  46px,
  61px,
  59px,
  51px,
  48px,
  40px,
  35px,
  52px;
  @for $i from 1 through length($svg-width) {
    .s3-svg-#{$i} {
      width: nth($svg-width, $i);
    }
  }

  $svg-height: 42px,
  48px,
  48px,
  60px,
  48px,
  48px,
  48px,
  48px,
  48px,
  24px;
  @for $i from 1 through length($svg-height) {
    .s3-svg-#{$i} {
      height: nth($svg-height, $i);
    }
  }
}


@media screen and (max-width: 1259px) and (min-width: 640px) {

  .s3 {
    padding: 57px 0 64px;
    .container {
      padding: 0 33px;
    }

    .br-desktop {
      display: none;
    }

    h2 {
      margin-bottom: 36px;
    }


    .inf-card-item {
      width: 33.33%;
      min-height: 98px;
    }
    .inf-card-2,
    .inf-card-4,
    .inf-card-6,
    .inf-card-7,
    .inf-card-8,
    .inf-card-9 {
      margin-top: 22px;
    }

    .inf-card-10 {
      display: none;
    }



    .svg-container {
      height: 45px;
    }

    $svg-width: 39px,
    51px,
    35px,
    37px,
    44px,
    39px,
    36px,
    30px,
    26px;
    @for $i from 1 through length($svg-width) {
      .s3-svg-#{$i} {
        width: nth($svg-width, $i);
      }
    }

    $svg-height: 36px,
    36px,
    36px,
    36px,
    36px,
    36px,
    36px,
    36px,
    36px;
    @for $i from 1 through length($svg-height) {
      .s3-svg-#{$i} {
        height: nth($svg-height, $i);
      }
    }
  }
}


@media screen and (max-width: 639px) {

  .s3 {
    padding: 41px 0 35px;
    .container {
      padding: 0 10px;
      max-width: 450px;
      margin: 0 auto;
    }

    h2 {
      margin-bottom: 13px;
    }

    .inf-card-item {
      min-width: 28%;
      min-height: 90px;
    }

    .inf-card-2,
    .inf-card-4,
    .inf-card-6,
    .inf-card-7,
    .inf-card-8,
    .inf-card-9 {
      margin-top: 28px;
    }

    .inf-card-10 {
      display: none;
    }

    span {
      font-size: 11px;
      letter-spacing: 0.3px;
      text-align: center;
    }

    .svg-container {
      height: 45px;
    }

    $svg-width: 39px,
    51px,
    35px,
    37px,
    44px,
    39px,
    36px,
    30px,
    26px;
    @for $i from 1 through length($svg-width) {
      .s3-svg-#{$i} {
        width: nth($svg-width, $i);
      }
    }

    $svg-height: 36px,
    36px,
    36px,
    36px,
    36px,
    36px,
    36px,
    36px,
    36px;
    @for $i from 1 through length($svg-height) {
      .s3-svg-#{$i} {
        height: nth($svg-height, $i);
      }
    }
  }
}