.s6 {
  padding: 90px 0 0;
  background-color: #ffffff;


  .container {
    position: relative;
  }


  .gallery {
    width: 1069px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }

  .swiper-button-white {
    top: 40%;
  }

  .gallery-top {
    width: 100%;
    height: 596px;
    margin: 0;
    overflow: visible;
    position: static;

    img {
      width: 100%;
      height: 596px;
    }
  }

  .gallery-thumbs {
    transform: translateX(-446px);
    overflow: visible;
    width: 178px;

    .swiper-slide {
      cursor: pointer;
    }
  }
}




@media screen and (max-width: 1259px) and (min-width: 640px) {


  .s6 {
    padding: 40px 0 0;
    .container {
      padding: 0 18px;
    }

    .gallery {
      width: 568px;
      height: 498px;
      margin: 0 0 0 auto;
    }

    .gallery-top {
      width: 568px;
      height: 403px;
      overflow: hidden;
      .swiper-slide {
        width: auto;
        height: 403px;

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .gallery-thumbs {
      transform: translateX(-237px);
      overflow: visible;
      width: 95px;

      .swiper-wrapper {
        width: 178px;
        width: 356px;
      }
    }
  }
}


@media screen and (max-width: 639px) {


  .s6 {
    padding: 33px 0 0;
    .container {
      padding: 0;
    }

    .gallery {
      width: 100%;
      height: auto;
      padding: 0 8px;

      margin: 0 auto;
    }

    .swiper-button-white {
      top: 51%;
      transform: scale(.8);
    }

    .gallery-top {
      width: 100%;
      height: auto;
      overflow: hidden;
      .swiper-slide {
        width: auto;
        height: auto;

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .gallery-thumbs {
      display: none;
      transform: translateX(-237px);
      overflow: visible;
      width: 95px;

      .swiper-wrapper {
        width: 178px;
        width: 356px;
      }
    }
  }
}