<header>
  <div class="container">
    <ul class="menu">
      <li class="menu-item"><a href="javascript:void(0);">О комплексе</a></li>
      <li class="menu-item"><a href="javascript:void(0);">Инфраструктура</a></li>
      <li class="menu-item"><a href="javascript:void(0);">Типы коттеджей</a></li>
      <li class="menu-item"><a href="javascript:void(0);">Фото и видео</a></li>
      <li class="menu-item"><a href="javascript:void(0);">Генеральный план</a></li>
      <li class="menu-item"><a href="javascript:void(0);">Контакты</a></li>
      <li class="menu-item lang"><span class="current-lang">рус</span>
        <div class="lang-toggle">
          <span class="lang-toggle-item"><a href="javascript:void(0);">укр</a></span>
          <span class="lang-toggle-item hide"><a href="javascript:void(0);">рус</a></span>
        </div>
      </li>
    </ul>
  </div>
</header>