<header>
  <div class="container">
    <div class="menu-btn">
      <div class="menu-btn__common-line"></div>
    </div>
    <ul class="menu">
      <li class="menu-item"><a href="#about">О комплексе</a></li>
      <li class="menu-item"><a href="#infrastructure">Инфраструктура</a></li>
      <li class="menu-item"><a href="#types">Типы коттеджей</a></li>
      <li class="menu-item"><a href="#gallery">Фото и видео</a></li>
      <li class="menu-item"><a href="#plan">Генеральный план</a></li>
      <li class="menu-item"><a href="#contacts">Контакты</a></li>
    </ul>
    <div class="menu-item lang"><span class="current-lang">рус</span>
      <div class="lang-toggle">
        <span class="lang-toggle-item"><a href="javascript:void(0);">укр</a></span>
        <span class="lang-toggle-item hide"><a href="javascript:void(0);">рус</a></span>
      </div>
    </div>
  </div>
</header>