<section class="s10">
  <div class="container">
  	<div class="footer-logo"></div>
  	<div class="footer-social">
  		<a href="javascript:void(0);" class="footer-social-item">
  			<svg class="icon-box footer-ico-facebook" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="img/sprite.svg#s8-svg-3"></use>
          </svg>
  		</a>
  		<a href="javascript:void(0);" class="footer-social-item footer-ico-inst">
  		</a>
  		<a href="javascript:void(0);" class="footer-social-item footer-ico-viber">
  		</a>
  		<a href="javascript:void(0);" class="footer-social-item footer-ico-telegram">
  		</a>

  	</div>
  </div>
</section>