<section class="s2" id="about">
  <div class="container">
    <div class="preform-cards">
      <div class="preform-card">
        <div class="svg-container">
          <svg class="icon-box s2-svg-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="img/sprite.svg#s2-svg-1"></use>
          </svg>
        </div>
        <p>классический североамериканский
          <br class="desktop">архитектурный стиль</p>
      </div>
      <div class="preform-card">
        <div class="svg-container">
          <svg class="icon-box s2-svg-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="img/sprite.svg#s2-svg-2"></use>
          </svg>
        </div>
        <p>20 минут езды
          <br class="desktop">от Киева</p>
      </div>
      <div class="preform-card">
        <div class="svg-container">
          <svg class="icon-box s2-svg-3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="img/sprite.svg#s2-svg-3"></use>
          </svg>
        </div>
        <p>в окружении березовой рощи
          <br class="desktop">и соснового леса</p>
      </div>
      <div class="preform-card">
        <div class="svg-container">
          <svg class="icon-box s2-svg-4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="img/sprite.svg#s2-svg-4"></use>
          </svg>
        </div>
        <p>на берегу безымянного
          <br class="desktop">истока реки Буча</p>
      </div>
    </div>
    <p class="content-txt">Красота природы, чистый воздух и наличие всех городских удобств коттеджного городка «Севериновка» идеально подходит для современного
      <br class="desktop">и комфортного проживания за городом. Городок расположен на оптимальном расстоянии от шумного Киева, в красивейшем экологически чистом месте
      <br class="desktop">(в близлежащих окрестностях отсутствует промышленное производство), в окружении великолепного лесного массива:
      <br class="desktop">березовой рощи и соснового леса с вековыми деревьями.</p>
  </div>
</section>