<section class="s3" id="infrastructure">
  <div class="container">
    <h2 class="s-header">Инфраструктура</h2>
    <div class="infrastructure-cards">
      <div class="inf-card-item inf-card-1">
        <div class="svg-container">
          <svg class="icon-box s3-svg-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="img/sprite.svg#s3-svg-1"></use>
          </svg>
        </div>
        <span>супермаркет</span>
      </div>
      <div class="inf-card-item inf-card-2">
        <div class="svg-container">
          <svg class="icon-box s3-svg-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="img/sprite.svg#s3-svg-2"></use>
          </svg>
        </div>
        <span>&nbsp;детский <br class="br-mobile">сад</span>
      </div>
      <div class="inf-card-item inf-card-3">
        <div class="svg-container">
          <svg class="icon-box s3-svg-3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="img/sprite.svg#s3-svg-3"></use>
          </svg>
        </div>
        <span>спорткомплекс</span>
      </div>
      <div class="inf-card-item inf-card-4">
        <div class="svg-container">
          <svg class="icon-box s3-svg-4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="img/sprite.svg#s3-svg-4"></use>
          </svg>
        </div>
        <span>&nbsp;теннисные <br class="br-mobile">корты</span>
      </div>
      <div class="inf-card-item inf-card-5">
        <div class="svg-container">
          <svg class="icon-box s3-svg-5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="img/sprite.svg#s3-svg-5"></use>
          </svg>
        </div>
        <span>&nbsp;торговый <br class="br-mobile">комплекс</span>
      </div>
      <div class="inf-card-item inf-card-6">
        <div class="svg-container">
          <svg class="icon-box s3-svg-6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="img/sprite.svg#s3-svg-6"></use>
          </svg>
        </div>
        <span>ресторан</span>
      </div>
      <div class="inf-card-item inf-card-7">
        <div class="svg-container">
          <svg class="icon-box s3-svg-7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="img/sprite.svg#s3-svg-7"></use>
          </svg>
        </div>
        <span>автосервис</span>
      </div>
      <div class="inf-card-item inf-card-8">
        <div class="svg-container">
          <svg class="icon-box s3-svg-8" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="img/sprite.svg#s3-svg-8"></use>
          </svg>
        </div>
        <span>отель</span>
      </div>
      <div class="inf-card-item inf-card-9">
        <div class="svg-container">
          <svg class="icon-box s3-svg-9" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="img/sprite.svg#s3-svg-9"></use>
          </svg>
        </div>
        <span>церковь</span>
      </div>
    </div>
  </div>
</section>