<section class="s5" id="plan">
  <div class="container">
    <div class="plan">
      <h2 class="tablet-header">Генплан</h2>
      <!-- <div class="plan-marker" top="25px" left="100px"><span class="plan-marker-number">15</span></div> -->
      <div class="zoom-container">
        <div class="zoom-btn plan-settings">
          <svg class="icon-box svg-plan-settings" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="img/sprite.svg#plan-settings"></use>
          </svg>
        </div>
        <div class="zoom-btn zoom-in">
          <svg class="icon-box svg-zoom-in" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="img/sprite.svg#zoom-in"></use>
          </svg>
        </div>
        <div class="zoom-btn zoom-out">
          <svg class="icon-box svg-zoom-out" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="img/sprite.svg#zoom-out"></use>
          </svg>
        </div>
        <div class="zoom-btn zoom-reset">
          <svg class="icon-box svg-zoom-out" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="img/sprite.svg#zoom-out"></use>
          </svg>
        </div>
      </div>
      <div class="plan-map-container">
        <img class="plan-map" src="img/plan/plan_map.jpg" alt="plan_map">
      </div>
    </div>
    <div class="plan-scheme-container">
      <div class="plan-scheme">
        <div class="plan-close">
          <svg class="icon-box svg-plan-close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="img/sprite.svg#plan-close"></use>
          </svg>
        </div>
        <h2 class="s-header s-header-plan-common">Генплан</h2>
        <h2 class="s-header  s-header-common">ФИЛЬТР</h2>
        <h3 class="header-type">Типы коттеджей</h3>
        <div class="plan-type">
          <div class="plan-type-item" data-plan-type="type-1">
            <label>
              <input class="checkbox" type="checkbox" name="checkbox-type">
              <span class="checkbox-custom"></span>
              <span class="label-txt">Тип 1 | 255,15 м2</span>
            </label>
          </div>
          <div class="plan-type-item" data-plan-type="type-6">
            <label>
              <input class="checkbox" type="checkbox" name="checkbox-type">
              <span class="checkbox-custom"></span>
              <span class="label-txt">Тип 6 | 436,19 м2</span>
            </label>
          </div>
          <div class="plan-type-item" data-plan-type="type-2">
            <label>
              <input class="checkbox" type="checkbox" name="checkbox-type">
              <span class="checkbox-custom"></span>
              <span class="label-txt">Тип 2 | 200,26 м2</span>
            </label>
          </div>
          <div class="plan-type-item" data-plan-type="type-7">
            <label>
              <input class="checkbox" type="checkbox" name="checkbox-type">
              <span class="checkbox-custom"></span>
              <span class="label-txt">Тип 7 | 414,78 м2</span>
            </label>
          </div>
          <div class="plan-type-item" data-plan-type="type-3">
            <label>
              <input class="checkbox" type="checkbox" name="checkbox-type">
              <span class="checkbox-custom"></span>
              <span class="label-txt">Тип 3 | 252,15 м2</span>
            </label>
          </div>
          <div class="plan-type-item" data-plan-type="type-8">
            <label>
              <input class="checkbox" type="checkbox" name="checkbox-type">
              <span class="checkbox-custom"></span>
              <span class="label-txt">Тип 8 | 565,76 м2</span>
            </label>
          </div>
          <div class="plan-type-item" data-plan-type="type-4">
            <label>
              <input class="checkbox" type="checkbox" name="checkbox-type">
              <span class="checkbox-custom"></span>
              <span class="label-txt">Тип 4 | 330,19 м2</span>
            </label>
          </div>
          <div class="plan-type-item" data-plan-type="type-9">
            <label>
              <input class="checkbox" type="checkbox" name="checkbox-type">
              <span class="checkbox-custom"></span>
              <span class="label-txt">Тип 9 | 546,62 м2</span>
            </label>
          </div>
          <div class="plan-type-item" data-plan-type="type-5">
            <label>
              <input class="checkbox" type="checkbox" name="checkbox-type">
              <span class="checkbox-custom"></span>
              <span class="label-txt">Тип 5 | 601,77 м2</span>
            </label>
          </div>
          <div class="plan-type-item" data-plan-type="type-10">
            <label>
              <input class="checkbox" type="checkbox" name="checkbox-type">
              <span class="checkbox-custom"></span>
              <span class="label-txt">Тип 10 | 175,46 м2</span>
            </label>
          </div>
          <button class="plan-type-btn btn-type-add">отметить все</button>
          <button class="plan-type-btn btn-type-clear">снять выделение</button>
        </div>
        <!-- <div class="plan-type-btns">
      <button></button>
    </div> -->
        <h3 class="header-type">Номера домов</h3>
        <div class="plan-number">
          <!--         <div class="plan-number-item">1</div>
      <div class="plan-number-item">2</div>
      <div class="plan-number-item">3</div>
      <div class="plan-number-item">4</div>
      <div class="plan-number-item">5</div>
      <div class="plan-number-item">6</div>
      <div class="plan-number-item">7</div>
      <div class="plan-number-item">8</div>
      <div class="plan-number-item">9</div>
      <div class="plan-number-item">10</div>
      <div class="plan-number-item">11</div>
      <div class="plan-number-item">12</div>
      <div class="plan-number-item">13</div>
      <div class="plan-number-item">14</div>
      <div class="plan-number-item">15</div>
      <div class="plan-number-item">16</div>
      <div class="plan-number-item">17</div>
      <div class="plan-number-item">18</div>
      <div class="plan-number-item">19</div>
      <div class="plan-number-item">20</div>
      <div class="plan-number-item">21</div>
      <div class="plan-number-item">22</div>
      <div class="plan-number-item">23</div>
      <div class="plan-number-item">24</div>
      <div class="plan-number-item">25</div>
      <div class="plan-number-item">26</div>
      <div class="plan-number-item">27</div>
      <div class="plan-number-item">28</div>
      <div class="plan-number-item">29</div>
      <div class="plan-number-item">30</div>
      <div class="plan-number-item">31</div>
      <div class="plan-number-item">32</div>
      <div class="plan-number-item">33</div>
      <div class="plan-number-item">34</div>
      <div class="plan-number-item">35</div>
      <div class="plan-number-item">36</div>
      <div class="plan-number-item">37</div>
      <div class="plan-number-item">38</div>
      <div class="plan-number-item">39</div>
      <div class="plan-number-item">40</div>
      <div class="plan-number-item">41</div>
      <div class="plan-number-item">42</div>
      <div class="plan-number-item">43</div>
      <div class="plan-number-item">44</div>
      <div class="plan-number-item">45</div>
      <div class="plan-number-item">46</div>
      <div class="plan-number-item">47</div>
      <div class="plan-number-item">48</div>
      <div class="plan-number-item">49</div>
      <div class="plan-number-item">50</div> -->
        </div>
        <div class="plan-number-btns">
          <button class="plan-number-btn btn-type-add">отметить все</button>
          <button class="plan-number-btn btn-type-clear">снять выделение</button>
        </div>
      </div>
    </div>
  </div>
</section>