<section class="s6" id="gallery">
  <div class="container">
  	<h2 class="s-header-vertical">Фотогаллерея</h2>
    <div class="gallery">
    	<div class="swiper-container gallery-top swiper-container-horizontal">
    	  <div class="swiper-wrapper" style="">
    	  	<div class="swiper-slide"><img src="img/gal/1Р.jpg" alt=""></div>
    	    <div class="swiper-slide"><img src="img/gal/2Р.jpg" alt=""></div>
    	    <div class="swiper-slide"><img src="img/gal/3Р.jpg" alt=""></div>
    	    <div class="swiper-slide"><img src="img/gal/4Р.jpg" alt=""></div>
    	    <div class="swiper-slide"><img src="img/gal/5Р.jpg" alt=""></div>
    	    <div class="swiper-slide"><img src="img/gal/6Р.jpg" alt=""></div>
    	    <div class="swiper-slide"><img src="img/gal/7Р.jpg" alt=""></div>
    	    <div class="swiper-slide"><img src="img/gal/8Р.jpg" alt=""></div>
    	    <div class="swiper-slide"><img src="img/gal/9Р.jpg" alt=""></div>
    	  </div>
    	  <div class="swiper-button-next swiper-button-white"></div>
    	  <div class="swiper-button-prev swiper-button-white"></div>
    	</div>
    	<div class="swiper-container gallery-thumbs swiper-container-horizontal">
    	  <div class="swiper-wrapper" style="">
    	    <div class="swiper-slide"><img src="img/gal/thumbs/1Р.jpg" alt=""></div>
    	    <div class="swiper-slide"><img src="img/gal/thumbs/2Р.jpg" alt=""></div>
    	    <div class="swiper-slide"><img src="img/gal/thumbs/3Р.jpg" alt=""></div>
    	    <div class="swiper-slide"><img src="img/gal/thumbs/4Р.jpg" alt=""></div>
    	    <div class="swiper-slide"><img src="img/gal/thumbs/5Р.jpg" alt=""></div>
    	    <div class="swiper-slide"><img src="img/gal/thumbs/6Р.jpg" alt=""></div>
    	    <div class="swiper-slide"><img src="img/gal/thumbs/7Р.jpg" alt=""></div>
    	    <div class="swiper-slide"><img src="img/gal/thumbs/8Р.jpg" alt=""></div>
    	    <div class="swiper-slide"><img src="img/gal/thumbs/9Р.jpg" alt=""></div>
    	  </div>
    	</div>
    </div>
  </div>
</section>