.s-header, .s-header-vertical, .tablet-header, .call-content, .call-ico .call-btn-txt, header .menu-item, .menu-container .menu-social span, .s2 .content-txt, .s4 .slide-text, .s5 .header-type, .s5 .label-txt, .s5 .plan-type-btn, .s5 .plan-number-btn, .s5 .plan-number-item, .s8 .contacts, footer .container, .type-popup h3, .type-popup .slide-text, .type-popup .type-popup-details {
  font-family: "SFUIDisplayRegular", sans-serif;
  font-weight: 400; }

.s5 .plan-marker-number {
  font-family: "SFUITextRegular", sans-serif; }

.s2 .preform-card p, .s3 span, .s4 .slide-text__bold, .s8 .contact-item-1,
.s8 .contact-item-2, .type-popup .slide-text__bold, .type-popup .total-area, .type-popup .building-area {
  font-family: "SFUITextSemibold", sans-serif; }

/*
================================================================================
|                                     reset                                     |
================================================================================
*/
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active, a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

ul, menu, p {
  padding: 0;
  margin: 0; }

input, textarea {
  outline: 0;
  border: 0; }

* {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat; }

html, body {
  font-size: 14px;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  position: relative;
  font-weight: normal;
  margin: 0 auto;
  padding: 0; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

button {
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

ul {
  list-style: none;
  cursor: default; }

a {
  text-decoration: none;
  color: inherit; }

button {
  display: block;
  font: inherit;
  line-height: normal;
  color: inherit;
  margin: 0;
  border: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

/*
================================================================================
|                                     Fonts                                    |
================================================================================
*/
@font-face {
  font-family: "SFUIDisplayRegular";
  src: url("../fonts/SFUIDisplayRegular/SFUIDisplayRegular.eot");
  src: url("../fonts/SFUIDisplayRegular/SFUIDisplayRegular.eot") format("embedded-opentype"), url("../fonts/SFUIDisplayRegular/SFUIDisplayRegular.woff2") format("woff2"), url("../fonts/SFUIDisplayRegular/SFUIDisplayRegular.woff") format("woff"), url("../fonts/SFUIDisplayRegular/SFUIDisplayRegular.ttf") format("truetype"), url("../fonts/SFUIDisplayRegular/SFUIDisplayRegular.svg#SFUIDisplayRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "SFUITextRegular";
  src: url("../fonts/SFUITextRegular/SFUITextRegular.eot");
  src: url("../fonts/SFUITextRegular/SFUITextRegular.eot") format("embedded-opentype"), url("../fonts/SFUITextRegular/SFUITextRegular.woff2") format("woff2"), url("../fonts/SFUITextRegular/SFUITextRegular.woff") format("woff"), url("../fonts/SFUITextRegular/SFUITextRegular.ttf") format("truetype"), url("../fonts/SFUITextRegular/SFUITextRegular.svg#SFUITextRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "SFUITextSemibold";
  src: url("../fonts/SFUITextSemibold/SFUITextSemibold.eot");
  src: url("../fonts/SFUITextSemibold/SFUITextSemibold.eot") format("embedded-opentype"), url("../fonts/SFUITextSemibold/SFUITextSemibold.woff2") format("woff2"), url("../fonts/SFUITextSemibold/SFUITextSemibold.woff") format("woff"), url("../fonts/SFUITextSemibold/SFUITextSemibold.ttf") format("truetype"), url("../fonts/SFUITextSemibold/SFUITextSemibold.svg#SFUITextSemibold") format("svg");
  font-weight: normal;
  font-style: normal; }

/*
================================================================================
|                                     Start rools                              |
================================================================================
*/
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

body {
  margin: 0 auto;
  background-color: #F5F5F5; }

.content {
  position: relative;
  max-width: 1260px;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.11);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=0, Color='#000000'); }

section,
nav {
  min-width: 320px;
  width: 100%;
  position: relative;
  margin: 0 auto; }

.container {
  max-width: 1260px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
  overflow: hidden;
  position: relative; }

.hide {
  display: none; }

.hidden-oflw {
  overflow: hidden; }

.s-header, .s-header-vertical {
  font-size: 32px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #8C8C8C;
  text-align: center; }

.s-header-vertical {
  position: absolute;
  left: 33px;
  top: 90px;
  transform: rotate(270deg);
  writing-mode: lr-tb;
  transform-origin: left top 0; }

.tablet-header {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center !important;
  height: auto;
  line-height: 1;
  font-size: 25px;
  letter-spacing: 0.63px;
  text-transform: uppercase;
  color: #FFFFFF;
  z-index: 1; }

.call-btn-container {
  position: fixed;
  right: 50%;
  margin-right: -610px;
  bottom: 0;
  transform: translateY(-3vh);
  z-index: 200;
  pointer-events: none;
  transition: transform .5s ease-in-out; }

.call-content-wrapper {
  position: relative;
  padding: 0 10px;
  width: 232px;
  height: 229px; }

.call-content {
  position: absolute;
  top: 160px;
  bottom: 72px;
  right: 0;
  width: 232px;
  background-color: #ffffff;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  z-index: 1;
  visibility: hidden;
  transition: all .15s ease-in-out;
  transition-delay: .01s;
  text-align: center;
  overflow: hidden;
  pointer-events: auto; }
  .call-content.active {
    opacity: 1;
    visibility: visible;
    transition-delay: .3s;
    top: 0px;
    bottom: 0px; }
  .call-content .call-inp {
    display: block;
    width: 189px;
    margin: 0 auto;
    font-size: 15px;
    letter-spacing: 0.38px;
    color: #808080;
    border-bottom: 1px solid #9B9DA0;
    line-height: 2.2;
    text-align: center; }
    .call-content .call-inp:first-of-type {
      padding-top: 20px;
      margin-bottom: 18px; }
    .call-content .call-inp:last-of-type {
      margin-bottom: 94px; }
  .call-content .call-close {
    display: inline-block;
    font-size: 15px;
    letter-spacing: 0.38px;
    color: #808080;
    cursor: pointer; }

.call-ico {
  position: absolute;
  right: 10px;
  bottom: 45px;
  background: #4cb635;
  background: linear-gradient(to bottom, #4cb635 0%, #3e962b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cb635', endColorstr='#3e962b', GradientType=0);
  width: 54px;
  height: 54px;
  border-radius: 27px;
  cursor: pointer;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  transition: width .3s ease-in-out;
  z-index: 99;
  pointer-events: auto; }
  .call-ico svg {
    width: 28px;
    height: 29px;
    fill: #ffffff;
    margin-left: 13px;
    position: relative; }
  .call-ico.active {
    width: 212px; }
  .call-ico .call-btn-txt {
    position: absolute;
    font-size: 15px;
    letter-spacing: 0.38px;
    color: #FFFFFF;
    margin-left: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s linear, visibility 0.15s linear;
    transition-delay: .3s;
    width: 0;
    overflow: hidden; }
    .call-ico .call-btn-txt.active {
      width: auto;
      margin-left: 13px;
      transition-delay: .01s;
      position: static;
      visibility: visible;
      opacity: 1; }

.call-content input::-webkit-input-placeholder {
  color: #B0B2B4;
  transition: opacity 0.25s ease; }

.call-content input:-moz-placeholder {
  color: #B0B2B4;
  transition: opacity 0.25s ease; }

.call-content input::-moz-placeholder {
  color: #B0B2B4;
  transition: opacity 0.25s ease; }

.call-content input:-ms-input-placeholder {
  color: #B0B2B4;
  transition: opacity 0.25s ease; }

.call-content input:focus::-webkit-input-placeholder {
  opacity: 0; }

.call-content input:focus:-moz-placeholder {
  opacity: 0; }

.call-content input:focus::-moz-placeholder {
  opacity: 0; }

.call-content input:focus:-ms-input-placeholder {
  opacity: 0; }

.preloader-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center; }

.br-mobile,
.s-header-common {
  display: none; }

header {
  padding: 30px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 304; }
  header .container {
    overflow: visible;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
  header .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-left: 30px; }
  header .menu-btn-wrap {
    width: 31px;
    min-height: 16px;
    display: none;
    cursor: pointer;
    align-items: center;
    justify-content: center; }
  header .menu-btn {
    position: relative;
    width: 31px;
    min-height: 2px;
    height: auto;
    display: flex;
    align-items: space-between;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer; }
    header .menu-btn:before, header .menu-btn:after {
      content: '';
      display: block;
      left: 0;
      right: 0;
      position: absolute;
      height: 2px;
      background-color: #ffffff;
      transition: transform .15s ease-in-out;
      transform: rotate(0); }
    header .menu-btn:before {
      top: 0; }
    header .menu-btn:after {
      bottom: 0; }
    header .menu-btn.active-rotate:before {
      top: 0;
      transform: rotate(45deg); }
    header .menu-btn.active-rotate:after {
      bottom: 0;
      transform: rotate(-45deg); }
  header .menu-btn__common-line {
    height: 2px;
    margin: 8px 0;
    background-color: #ffffff;
    transition: margin .15s ease-in-out; }
    header .menu-btn__common-line.active {
      margin: 0; }
    header .menu-btn__common-line.active-hide {
      height: 0;
      background-color: transparent; }
  header .menu-item {
    position: relative;
    padding: 4px;
    cursor: pointer;
    margin: 0 28px;
    font-size: 16px;
    letter-spacing: 0.4px;
    color: #ffffff;
    transition: all .2s ease-in-out; }
    header .menu-item:after {
      display: block;
      content: '';
      width: 12px;
      height: 7px;
      position: absolute;
      bottom: -30px;
      opacity: 0;
      visibility: hidden;
      left: 50%;
      margin-left: -6px;
      background-image: url(sprite.png);
      background-position: -722px -115px;
      width: 14px;
      height: 7px;
      background-image: url(../img/sprite.png);
      transition: all .2s ease-in-out; }
    header .menu-item:first-child {
      margin-left: 0; }
    header .menu-item.active-menu-item {
      opacity: 1;
      position: relative;
      z-index: 55; }
      header .menu-item.active-menu-item:after {
        bottom: -20px;
        opacity: 1;
        visibility: visible; }
  header .lang {
    position: relative;
    cursor: pointer;
    padding: 0;
    margin: 0;
    transition: opacity .1s linear;
    opacity: 1; }
    header .lang.hide-for-menu {
      opacity: 0; }
    header .lang .current-lang {
      position: relative;
      padding-right: 21px; }
      header .lang .current-lang:after {
        transition: transform .25s ease;
        display: inline-block;
        height: 0;
        width: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #ffffff;
        position: absolute;
        transform: rotate(180);
        content: '';
        top: 50%;
        right: 0;
        margin-top: -2px; }
      header .lang .current-lang.lang-active:after {
        transform: rotate(180deg); }
    header .lang .lang-toggle {
      position: absolute;
      left: 0;
      bottom: -15px;
      opacity: 0;
      visibility: hidden;
      transition: bottom .15s linear; }
      header .lang .lang-toggle.toggle-active {
        bottom: -25px;
        opacity: 1;
        visibility: visible; }

@media screen and (max-width: 1259px) and (min-width: 640px) {
  header {
    padding: 18px 0 0; }
    header .container {
      padding: 0 22px 0 26px; }
    header .menu {
      display: none; }
    header .menu-btn-wrap {
      display: flex; } }

@media screen and (max-width: 639px) {
  header {
    padding: 14px 0 0; }
    header .container {
      padding: 0 13px 0 14px; }
    header .menu {
      display: none; }
    header .menu-btn-wrap {
      display: flex; } }

.menu-container {
  position: fixed;
  top: 0;
  z-index: 300;
  max-width: 640px;
  width: 100%;
  left: 50%;
  margin-left: -320px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 330px;
  visibility: hidden;
  opacity: 0;
  transition: opacity .1s ease-in-out, visibility .1s ease-in-out; }
  .menu-container.menu-open {
    visibility: visible;
    opacity: 1; }
  .menu-container .menu-header {
    background-color: rgba(175, 175, 175, 0.95);
    height: 145px;
    min-height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 auto;
    padding: 20px 0; }
  .menu-container .menu-content {
    flex: 1 auto;
    overflow: auto;
    display: flex;
    flex-grow: 1;
    flex-direction: column; }
  .menu-container .menu-links {
    display: flex;
    flex: 1 auto;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.95);
    align-items: center;
    justify-content: space-around;
    min-height: 380px; }
  .menu-container .menu-link-item {
    font-family: Arial;
    font-size: 22px;
    letter-spacing: 0.55px;
    text-transform: uppercase;
    color: #363636;
    height: 50px;
    line-height: 50px;
    display: block; }
  .menu-container .menu-social {
    height: 150px;
    min-height: 150px;
    background-color: rgba(255, 255, 255, 0.95);
    flex: 0 auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    flex-direction: column; }
    .menu-container .menu-social .menu-social-list {
      display: flex;
      margin: 0 auto 25px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      max-width: 270px;
      width: 100%; }
    .menu-container .menu-social span {
      font-size: 13px;
      letter-spacing: 0.33px;
      color: 808080;
      line-height: 1.3; }
  .menu-container .footer-social-item {
    display: block; }
  .menu-container .footer-ico-facebook {
    width: 36px;
    height: 36px; }
  .menu-container .footer-ico-viber {
    background-image: url(sprite.png);
    background-position: -539px -115px;
    width: 42px;
    height: 44px; }
  .menu-container .footer-ico-telegram {
    background-image: url(sprite.png);
    background-position: -581px -115px;
    width: 36px;
    height: 37px; }
  .menu-container .footer-ico-inst {
    background-image: url(sprite.png);
    background-position: -689px -115px;
    width: 33px;
    height: 33px; }
  .menu-container .footer-ico-fb {
    background-image: url(sprite.png);
    background-position: -617px -115px;
    width: 36px;
    height: 36px; }
  .menu-container .footer-ico-viber,
  .menu-container .footer-ico-telegram,
  .menu-container .footer-ico-inst,
  .menu-container .footer-ico-fb {
    display: block;
    background-image: url(../img/sprite.png); }

@media screen and (max-width: 639px) {
  .menu-container {
    max-width: none;
    width: auto;
    left: 0;
    right: 0;
    margin-left: 0; }
    .menu-container .menu-header {
      height: 70px;
      min-height: 70px; }
      .menu-container .menu-header svg {
        width: 225px; }
    .menu-container .menu-links {
      min-height: 300px;
      padding: 15px 0; }
    .menu-container .menu-link-item {
      font-size: 17px;
      letter-spacing: 0.43px;
      height: 40px;
      line-height: 40px; }
    .menu-container .menu-social span {
      text-align: center; }
      .menu-container .menu-social span:last-of-type {
        display: none; } }

.s1 {
  height: 480px;
  overflow: visible;
  background: url(../img/aero_view.jpg) no-repeat 50% 50%;
  background-size: cover; }
  .s1 .video-container {
    display: block;
    max-width: 1280px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    z-index: 0; }
  .s1 .logo {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -47%);
    z-index: 1;
    width: 483px;
    height: 139px;
    background: url(../img/main_logo_back.png) no-repeat 50% 50%; }

@media screen and (max-width: 1259px) and (min-width: 640px) {
  .s1 {
    height: 254px; }
    .s1 .video {
      width: 678px; }
    .s1 .logo {
      width: 300px;
      height: 87px;
      background-size: 300px; } }

@media screen and (max-width: 639px) {
  .s1 {
    height: 200px; }
    .s1 .video {
      display: none; }
    .s1 .logo {
      width: 300px;
      background-size: 300px;
      height: 87px; } }

.s2 {
  padding: 97px 0 10px;
  background-color: #ffffff; }
  .s2 .mobile-line {
    display: none; }
  .s2 .preform-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #F3914E;
    justify-content: space-between;
    margin-bottom: 46px; }
    .s2 .preform-cards:after {
      content: '';
      width: 100%;
      order: 0; }
  .s2 svg {
    fill: #F3914E; }
  .s2 .preform-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    justify-content: center;
    text-align: center; }
    .s2 .preform-card:nth-of-type(5), .s2 .preform-card:nth-of-type(6), .s2 .preform-card:nth-of-type(7), .s2 .preform-card:nth-of-type(8) {
      order: 1; }
    .s2 .preform-card:nth-of-type(1), .s2 .preform-card:nth-of-type(2), .s2 .preform-card:nth-of-type(3), .s2 .preform-card:nth-of-type(4) {
      margin-bottom: 32px; }
    .s2 .preform-card p {
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 0.38px;
      text-transform: uppercase; }
  .s2 .svg-container {
    height: 68px;
    margin-bottom: 17px;
    display: flex;
    align-items: flex-end; }
  .s2 .s2-svg-1 {
    width: 162px; }
  .s2 .s2-svg-2 {
    width: 65px; }
  .s2 .s2-svg-3 {
    width: 130px; }
  .s2 .s2-svg-4 {
    width: 87px; }
  .s2 .s2-svg-5 {
    width: 60px; }
  .s2 .s2-svg-6 {
    width: 88px; }
  .s2 .s2-svg-7 {
    width: 76px; }
  .s2 .s2-svg-8 {
    width: 92px; }
  .s2 .s2-svg-1 {
    height: 54px; }
  .s2 .s2-svg-2 {
    height: 63px; }
  .s2 .s2-svg-3 {
    height: 58px; }
  .s2 .s2-svg-4 {
    height: 68px; }
  .s2 .s2-svg-5 {
    height: 52px; }
  .s2 .s2-svg-6 {
    height: 52px; }
  .s2 .s2-svg-7 {
    height: 54px; }
  .s2 .s2-svg-8 {
    height: 52px; }
  .s2 .content-txt {
    font-size: 15px;
    line-height: 29px;
    letter-spacing: 0.38px;
    color: #525252;
    text-align: center;
    margin-bottom: 47px; }

@media screen and (max-width: 1259px) and (min-width: 640px) {
  .s2 {
    padding: 68px 0 55px; }
    .s2 .container {
      padding: 0 50px; }
    .s2 .preform-cards {
      height: auto;
      margin-bottom: 0; }
      .s2 .preform-cards:after {
        display: none; }
    .s2 .preform-card {
      width: 50%;
      margin-bottom: 20px; }
      .s2 .preform-card:nth-of-type(1), .s2 .preform-card:nth-of-type(2), .s2 .preform-card:nth-of-type(3), .s2 .preform-card:nth-of-type(4) {
        margin-bottom: 20px; }
      .s2 .preform-card p {
        font-size: 14px; }
    .s2 .svg-container {
      margin-bottom: 13px; }
    .s2 .s2-svg-1 {
      width: 144px; }
    .s2 .s2-svg-2 {
      width: 50px; }
    .s2 .s2-svg-3 {
      width: 108px; }
    .s2 .s2-svg-4 {
      width: 62px; }
    .s2 .s2-svg-5 {
      width: 52px; }
    .s2 .s2-svg-6 {
      width: 76px; }
    .s2 .s2-svg-7 {
      width: 63px; }
    .s2 .s2-svg-8 {
      width: 80px; }
    .s2 .s2-svg-1 {
      height: 48px; }
    .s2 .s2-svg-2 {
      height: 48px; }
    .s2 .s2-svg-3 {
      height: 48px; }
    .s2 .s2-svg-4 {
      height: 48px; }
    .s2 .s2-svg-5 {
      height: 45px; }
    .s2 .s2-svg-6 {
      height: 45px; }
    .s2 .s2-svg-7 {
      height: 45px; }
    .s2 .s2-svg-8 {
      height: 45px; }
    .s2 .content-txt {
      font-size: 14px;
      line-height: 28px;
      letter-spacing: 0.35px;
      margin-bottom: 36px; } }

@media screen and (max-width: 639px) {
  .s2 {
    padding: 57px 0 18px; }
    .s2 .mobile-line {
      display: inline-block; }
    .s2 .br-mobile {
      display: block; }
    .s2 .container {
      padding: 0 14px;
      max-width: 527px;
      margin: 0 auto; }
    .s2 .preform-cards {
      flex-direction: row;
      flex-wrap: wrap;
      height: 279px;
      align-items: center;
      height: auto;
      justify-content: flex-start;
      margin-bottom: 0; }
      .s2 .preform-cards:after {
        display: none; }
    .s2 .preform-card {
      justify-content: flex-start;
      min-height: 134px;
      width: 50%;
      margin-bottom: 0px; }
      .s2 .preform-card:nth-of-type(1), .s2 .preform-card:nth-of-type(2), .s2 .preform-card:nth-of-type(3), .s2 .preform-card:nth-of-type(4) {
        margin-bottom: 0px; }
      .s2 .preform-card p {
        font-size: 10px;
        line-height: 1.2;
        letter-spacing: 0.25px; }
    .s2 .svg-container {
      height: 42px;
      margin-bottom: 13px; }
    .s2 .s2-svg-1 {
      width: 108px; }
    .s2 .s2-svg-2 {
      width: 38px; }
    .s2 .s2-svg-3 {
      width: 81px; }
    .s2 .s2-svg-4 {
      width: 46px; }
    .s2 .s2-svg-5 {
      width: 40px; }
    .s2 .s2-svg-6 {
      width: 59px; }
    .s2 .s2-svg-7 {
      width: 49px; }
    .s2 .s2-svg-8 {
      width: 62px; }
    .s2 .s2-svg-1 {
      height: 36px; }
    .s2 .s2-svg-2 {
      height: 36px; }
    .s2 .s2-svg-3 {
      height: 36px; }
    .s2 .s2-svg-4 {
      height: 36px; }
    .s2 .s2-svg-5 {
      height: 35px; }
    .s2 .s2-svg-6 {
      height: 35px; }
    .s2 .s2-svg-7 {
      height: 35px; }
    .s2 .s2-svg-8 {
      height: 35px; }
    .s2 .content-txt {
      font-size: 13px;
      line-height: 24px;
      letter-spacing: 0.33px;
      height: auto;
      margin-bottom: 35px; } }

.s3 {
  padding: 70px 0 96px;
  background-color: #F5F5F5; }
  .s3 .container {
    padding: 0 58px; }
  .s3 h2 {
    margin-bottom: 58px; }
  .s3 .infrastructure-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; }
  .s3 .inf-card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    text-align: center; }
  .s3 .inf-card-10,
  .s3 .inf-card-6,
  .s3 .inf-card-7,
  .s3 .inf-card-8,
  .s3 .inf-card-9 {
    margin-top: 36px; }
  .s3 .icon-box {
    fill: #B3B3B3; }
  .s3 span {
    font-size: 15px;
    letter-spacing: 0.38px;
    text-transform: uppercase;
    color: #525252; }
  .s3 .svg-container {
    height: 60px;
    margin-bottom: 19px;
    display: flex;
    align-items: flex-end; }
  .s3 .s3-svg-1 {
    width: 45px; }
  .s3 .s3-svg-2 {
    width: 68px; }
  .s3 .s3-svg-3 {
    width: 46px; }
  .s3 .s3-svg-4 {
    width: 61px; }
  .s3 .s3-svg-5 {
    width: 59px; }
  .s3 .s3-svg-6 {
    width: 51px; }
  .s3 .s3-svg-7 {
    width: 48px; }
  .s3 .s3-svg-8 {
    width: 40px; }
  .s3 .s3-svg-9 {
    width: 35px; }
  .s3 .s3-svg-10 {
    width: 52px; }
  .s3 .s3-svg-1 {
    height: 42px; }
  .s3 .s3-svg-2 {
    height: 48px; }
  .s3 .s3-svg-3 {
    height: 48px; }
  .s3 .s3-svg-4 {
    height: 60px; }
  .s3 .s3-svg-5 {
    height: 48px; }
  .s3 .s3-svg-6 {
    height: 48px; }
  .s3 .s3-svg-7 {
    height: 48px; }
  .s3 .s3-svg-8 {
    height: 48px; }
  .s3 .s3-svg-9 {
    height: 48px; }
  .s3 .s3-svg-10 {
    height: 24px; }

@media screen and (max-width: 1259px) and (min-width: 640px) {
  .s3 {
    padding: 57px 0 64px; }
    .s3 .container {
      padding: 0 33px; }
    .s3 .br-desktop {
      display: none; }
    .s3 h2 {
      margin-bottom: 36px; }
    .s3 .inf-card-item {
      width: 33.33%;
      min-height: 98px; }
    .s3 .inf-card-2,
    .s3 .inf-card-4,
    .s3 .inf-card-6,
    .s3 .inf-card-7,
    .s3 .inf-card-8,
    .s3 .inf-card-9 {
      margin-top: 22px; }
    .s3 .inf-card-10 {
      display: none; }
    .s3 .svg-container {
      height: 45px; }
    .s3 .s3-svg-1 {
      width: 39px; }
    .s3 .s3-svg-2 {
      width: 51px; }
    .s3 .s3-svg-3 {
      width: 35px; }
    .s3 .s3-svg-4 {
      width: 37px; }
    .s3 .s3-svg-5 {
      width: 44px; }
    .s3 .s3-svg-6 {
      width: 39px; }
    .s3 .s3-svg-7 {
      width: 36px; }
    .s3 .s3-svg-8 {
      width: 30px; }
    .s3 .s3-svg-9 {
      width: 26px; }
    .s3 .s3-svg-1 {
      height: 36px; }
    .s3 .s3-svg-2 {
      height: 36px; }
    .s3 .s3-svg-3 {
      height: 36px; }
    .s3 .s3-svg-4 {
      height: 36px; }
    .s3 .s3-svg-5 {
      height: 36px; }
    .s3 .s3-svg-6 {
      height: 36px; }
    .s3 .s3-svg-7 {
      height: 36px; }
    .s3 .s3-svg-8 {
      height: 36px; }
    .s3 .s3-svg-9 {
      height: 36px; } }

@media screen and (max-width: 639px) {
  .s3 {
    padding: 41px 0 35px; }
    .s3 .container {
      padding: 0 10px;
      max-width: 450px;
      margin: 0 auto; }
    .s3 h2 {
      margin-bottom: 13px; }
    .s3 .inf-card-item {
      min-width: 28%;
      min-height: 90px; }
    .s3 .inf-card-2,
    .s3 .inf-card-4,
    .s3 .inf-card-6,
    .s3 .inf-card-7,
    .s3 .inf-card-8,
    .s3 .inf-card-9 {
      margin-top: 28px; }
    .s3 .inf-card-10 {
      display: none; }
    .s3 span {
      font-size: 11px;
      letter-spacing: 0.3px;
      text-align: center; }
    .s3 .svg-container {
      height: 45px; }
    .s3 .s3-svg-1 {
      width: 39px; }
    .s3 .s3-svg-2 {
      width: 51px; }
    .s3 .s3-svg-3 {
      width: 35px; }
    .s3 .s3-svg-4 {
      width: 37px; }
    .s3 .s3-svg-5 {
      width: 44px; }
    .s3 .s3-svg-6 {
      width: 39px; }
    .s3 .s3-svg-7 {
      width: 36px; }
    .s3 .s3-svg-8 {
      width: 30px; }
    .s3 .s3-svg-9 {
      width: 26px; }
    .s3 .s3-svg-1 {
      height: 36px; }
    .s3 .s3-svg-2 {
      height: 36px; }
    .s3 .s3-svg-3 {
      height: 36px; }
    .s3 .s3-svg-4 {
      height: 36px; }
    .s3 .s3-svg-5 {
      height: 36px; }
    .s3 .s3-svg-6 {
      height: 36px; }
    .s3 .s3-svg-7 {
      height: 36px; }
    .s3 .s3-svg-8 {
      height: 36px; }
    .s3 .s3-svg-9 {
      height: 36px; } }

.s4 {
  padding: 90px 0;
  overflow: visible;
  background-color: #ffffff; }
  .s4 h2 {
    margin-bottom: 95px; }
  .s4 .container {
    padding: 0 96px; }
  .s4 .build-type-container {
    position: relative; }
  .s4 .build-type {
    position: relative;
    width: 100%;
    height: 180px;
    overflow: hidden; }
  .s4 .prev-slide,
  .s4 .next-slide {
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    z-index: 100;
    cursor: pointer; }
  .s4 .prev-slide {
    right: 101%; }
  .s4 .next-slide {
    left: 101%; }
    .s4 .next-slide svg {
      transform: rotate(180deg); }
  .s4 .swiper-slide {
    display: flex;
    flex-direction: column; }
  .s4 .swiper-arrow {
    fill: #525252;
    width: 16px;
    height: 32px;
    transition: all .15s linear; }
    .s4 .swiper-arrow:hover {
      fill: #F3914E; }
  .s4 .slide-content {
    cursor: pointer;
    transition: color .1s linear; }
    .s4 .slide-content:hover .slide-text {
      color: #F3914E; }
    .s4 .slide-content img {
      display: block;
      margin: 0 auto; }
  .s4 .slide-img-wrap {
    height: 125px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 8px; }
  .s4 .slide-text {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 17px;
    letter-spacing: 0.17px;
    color: #525252;
    transition: color .1s linear; }

@media screen and (max-width: 1259px) and (min-width: 640px) {
  .s4 {
    padding: 64px 0 44px; }
    .s4 h2 {
      margin-bottom: 30px; }
    .s4 .container {
      padding: 0 40px; }
    .s4 .swiper-arrow {
      width: 20px;
      height: 35px; }
    .s4 .slide-img-wrap {
      margin-bottom: 12px; } }

@media screen and (max-width: 639px) {
  .s4 {
    padding: 36px 0 0; }
    .s4 h2 {
      margin-bottom: 10px; }
    .s4 .container {
      padding: 0 40px; }
    .s4 .swiper-arrow {
      width: 20px;
      height: 35px; }
    .s4 .slide-img-wrap {
      height: 110px;
      margin-bottom: 12px; } }

.s5 {
  user-select: none; }
  .s5 .container {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    line-height: 0;
    font-size: 0; }
  .s5 .plan {
    position: relative;
    width: 846px;
    height: 626px;
    overflow: hidden; }
  .s5 .plan-map-2 {
    display: none; }
  .s5 .plan-map-container {
    position: relative;
    height: 100%;
    width: 846px;
    height: 626px; }
  .s5 .plan-marker {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    visibility: hidden;
    margin-top: -20px;
    transition: all .15s ease-in-out; }
    .s5 .plan-marker.active {
      opacity: 1;
      visibility: visible;
      margin-top: 0; }
  .s5 .marker-wrapper {
    position: relative;
    width: 19px;
    height: 24px;
    background: url(../img/map_marker.png) no-repeat 50% 50%;
    background-size: 14px 23px;
    color: #000000;
    transform: translate(-50%, -100%); }
  .s5 .plan-marker-number {
    display: block;
    width: 19px;
    height: 16px;
    line-height: 16px;
    color: #73829E;
    letter-spacing: -1.5px;
    font-size: 10px;
    text-align: center; }
  .s5 .zoom-container {
    position: absolute;
    top: 20px;
    right: 18px;
    z-index: 1; }
  .s5 .zoom-btn {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 3px;
    cursor: pointer; }
    .s5 .zoom-btn:hover {
      opacity: 1; }
    .s5 .zoom-btn svg {
      width: 23px;
      height: 23px;
      fill: #525252; }
  .s5 .zoom-out {
    display: none; }
  .s5 .zoom-in,
  .s5 .plan-settings {
    margin-bottom: 8px; }
  .s5 .plan-settings {
    display: none; }
  .s5 .plan-scheme {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    line-height: 1;
    width: 414px;
    padding: 35px 37px 0;
    height: 100%; }
  .s5 .plan-close {
    display: none; }
  .s5 h2 {
    text-align: left;
    margin-bottom: 22px; }
  .s5 .header-type {
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.43px;
    color: #8C8C8C;
    margin-bottom: 21px; }
  .s5 .header-type:last-of-type {
    margin-bottom: 9px;
    margin-top: auto; }
  .s5 .plan-type {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0; }
  .s5 .plan-number-btns {
    margin-bottom: 20px; }
  .s5 .plan-type-item, .s5 .plan-infr-item {
    margin-bottom: 19px;
    min-width: 160px; }
    .s5 .plan-type-item.active-all .checkbox-custom, .s5 .plan-infr-item.active-all .checkbox-custom {
      border: 2px solid #F3914E; }
      .s5 .plan-type-item.active-all .checkbox-custom:before, .s5 .plan-infr-item.active-all .checkbox-custom:before {
        content: "";
        display: block;
        position: absolute;
        top: 3px;
        right: 3px;
        bottom: 3px;
        left: 3px;
        background: #F3914E;
        border-radius: 3px; }
    .s5 .plan-type-item.active-not-all .checkbox-custom:before, .s5 .plan-infr-item.active-not-all .checkbox-custom:before {
      content: "";
      display: block;
      position: absolute;
      top: 3px;
      right: 3px;
      bottom: 3px;
      left: 3px;
      background: #F3914E;
      border-radius: 3px; }
  .s5 .plan-infr-item {
    text-transform: uppercase; }
  .s5 .plan-type-item label, .s5 .plan-infr-item label {
    cursor: pointer;
    display: flex;
    flex-direction: row; }
    .s5 .plan-type-item label:hover .label-txt, .s5 .plan-infr-item label:hover .label-txt {
      color: #525252; }
  .s5 .checkbox {
    display: none; }
    .s5 .checkbox:checked + .checkbox-custom {
      border: 2px solid #F3914E; }
      .s5 .checkbox:checked + .checkbox-custom:before {
        content: "";
        display: block;
        position: absolute;
        top: 3px;
        right: 3px;
        bottom: 3px;
        left: 3px;
        background: #F3914E;
        border-radius: 3px; }
    .s5 .checkbox:checked ~ .label-txt {
      color: #525252; }
  .s5 .checkbox-custom {
    position: relative;
    display: block;
    width: 21px;
    height: 21px;
    border: 2px solid #8C8C8C;
    border-radius: 5px; }
  .s5 .label-txt {
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 0.38px;
    color: #8C8C8C;
    margin-left: 9px; }
  .s5 .plan-type-btn, .s5 .plan-number-btn {
    width: 149px;
    margin-right: 10px;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 0.38px;
    color: #FFFFFF;
    background: linear-gradient(90deg, #b8b8b8 0%, #b8b8b8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B8B8B8', endColorstr='#B8B8B8', GradientType=1);
    border-radius: 5px; }
    .s5 .plan-type-btn:hover, .s5 .plan-number-btn:hover {
      background: #8C8C8C; }
  .s5 .plan-number {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 6px;
    max-height: 205px;
    overflow: auto; }
  .s5 .plan-number-item {
    line-height: 33px;
    font-size: 13px;
    letter-spacing: -0.52px;
    color: #525252;
    margin: 0 3px 4px 0;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer; }
    .s5 .plan-number-item:hover {
      background: #B8B8B8; }
    .s5 .plan-number-item.checked {
      color: #ffffff;
      background: #F3914E; }
  .s5 .plan-number-btns {
    display: flex;
    justify-content: space-between; }

.plan-number::-webkit-scrollbar {
  width: 6px; }

.plan-number::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  visibility: hidden; }

.plan-number::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #b8b8b8;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.15); }

.plan-number::-webkit-scrollbar-thumb:window-inactive {
  background: #b8b8b8; }

@media screen and (max-width: 1259px) and (min-width: 640px) {
  .s5 .plan {
    height: 473px; }
  .s5 .plan-map-container {
    width: 640px;
    height: 473px; }
    .s5 .plan-map-container img {
      max-width: 640px; }
  .s5 .plan-settings {
    display: flex; }
  .s5 .plan-scheme-container {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
    z-index: 2;
    transition: transform .3s ease-in-out; }
    .s5 .plan-scheme-container.show-settings {
      transform: translateX(0); }
  .s5 .plan-close {
    width: 42px;
    height: 42px;
    background: linear-gradient(90deg, #b8b8b8 0%, #b8b8b8 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 3px;
    top: 19px;
    right: 19px; }
    .s5 .plan-close svg {
      width: 18px;
      height: 18px;
      fill: #ffffff; }
  .s5 .plan-scheme {
    height: 474px;
    width: 620px;
    padding: 20px 37px 0; }
  .s5 .plan-type {
    margin-bottom: 15px; }
  .s5 .plan-number {
    max-height: 95px; }
  .s5 .header-type:last-of-type {
    margin-top: 0; }
  .s5 .plan-number-btns:last-of-type {
    margin-bottom: 20px; }
  .s5 .plan-type-item {
    margin-bottom: 15px; }
  .s5 .plan-type-btn, .s5 .plan-number-btn {
    margin-bottom: 19px; }
  .s5 .plan-number-btns {
    justify-content: flex-start; }
  .s5 .plan-number-btn {
    margin-bottom: 0;
    margin-right: 20px; } }

@media screen and (max-width: 639px) {
  .s5 .plan {
    width: 100%;
    height: auto; }
  .s5 .plan-map-container {
    width: 100%;
    min-width: 433px;
    height: auto; }
  .s5 .zoom-container {
    top: 14px;
    right: 9px; }
  .s5 .zoom-btn {
    width: 32px;
    height: 32px; }
    .s5 .zoom-btn svg {
      width: 17.6px;
      height: 17.6px; }
  .s5 .plan-settings {
    display: flex; }
  .s5 .plan-scheme-container {
    position: absolute;
    right: 0;
    top: 0;
    width: 320px;
    height: 74.5vw;
    transform: translateX(100%);
    z-index: 2;
    transition: transform .3s ease-in-out;
    overflow-x: hidden;
    overflow-y: scroll; }
    .s5 .plan-scheme-container.show-settings {
      transform: translateX(0); }
  .s5 .plan-close {
    width: 32px;
    height: 32px;
    background: linear-gradient(90deg, #b8b8b8 0%, #b8b8b8 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 3px;
    top: 14px;
    right: 9px; }
    .s5 .plan-close svg {
      width: 18px;
      height: 18px;
      fill: #ffffff; }
  .s5 .plan-scheme {
    height: auto;
    width: 320px;
    padding: 20px 14px 20px; }
  .s5 .plan-type {
    margin-bottom: 15px; }
  .s5 .plan-type-item {
    margin-bottom: 15px;
    min-width: 142px;
    order: 55; }
    .s5 .plan-type-item:nth-child(1) {
      order: 0; }
    .s5 .plan-type-item:nth-child(9) {
      order: 0; }
    .s5 .plan-type-item:nth-child(8) {
      order: 0; }
    .s5 .plan-type-item:nth-child(3) {
      order: 0; }
    .s5 .plan-type-item:nth-child(2) {
      order: 0; }
    .s5 .plan-type-item:nth-child(10) {
      order: 0; }
    .s5 .plan-type-item:nth-child(5) {
      order: 0; }
    .s5 .plan-type-item:nth-child(4) {
      order: 0; }
    .s5 .plan-type-item:nth-child(7) {
      order: 0; }
    .s5 .plan-type-item:nth-child(6) {
      order: 0; }
  .s5 .checkbox-custom {
    width: 17px;
    height: 17px; }
  .s5 .label-txt {
    font-size: 13px; }
  .s5 .plan-type-btn, .s5 .plan-number-btn {
    width: 137px;
    margin-right: 5px;
    margin-bottom: 19px; }
    .s5 .plan-type-btn:first-of-type, .s5 .plan-number-btn:first-of-type {
      order: 0; }
    .s5 .plan-type-btn:last-of-type, .s5 .plan-number-btn:last-of-type {
      order: 0; }
  .s5 .plan-number-btns {
    justify-content: flex-start; }
  .s5 .plan-number {
    max-height: 201px; }
  .s5 .plan-number-btn {
    margin-bottom: 0;
    margin-right: 0; }
    .s5 .plan-number-btn:first-of-type {
      margin-right: 13px; } }

@media screen and (max-width: 443px) and (min-width: 320px) {
  .s5 .plan {
    height: 320px; }
  .s5 .plan-map-container {
    min-width: 433px;
    height: 320px; }
  .s5 .plan-scheme-container {
    height: 320px; } }

.s6 {
  padding: 90px 0 0;
  background-color: #ffffff; }
  .s6 .container {
    position: relative; }
  .s6 .gallery {
    width: 1069px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    position: relative; }
  .s6 .swiper-button-white {
    top: 40%; }
  .s6 .gallery-top {
    width: 100%;
    height: 596px;
    margin: 0;
    overflow: visible;
    position: static; }
    .s6 .gallery-top img {
      width: 100%;
      height: 596px; }
  .s6 .gallery-thumbs {
    transform: translateX(-446px);
    overflow: visible;
    width: 178px; }
    .s6 .gallery-thumbs .swiper-slide {
      cursor: pointer; }

@media screen and (max-width: 1259px) and (min-width: 640px) {
  .s6 {
    padding: 40px 0 0; }
    .s6 .container {
      padding: 0 18px; }
    .s6 .gallery {
      width: 568px;
      height: 413px;
      margin: 0 0 0 auto; }
    .s6 .gallery-top {
      width: 568px;
      height: 316px;
      overflow: hidden; }
      .s6 .gallery-top .swiper-slide {
        width: auto;
        height: 316px; }
        .s6 .gallery-top .swiper-slide img {
          width: 100%;
          height: auto; }
    .s6 .gallery-thumbs {
      transform: translateX(-237px);
      overflow: visible;
      width: 95px; }
      .s6 .gallery-thumbs .swiper-wrapper {
        width: 178px;
        width: 356px; } }

@media screen and (max-width: 639px) {
  .s6 {
    padding: 33px 0 0; }
    .s6 .container {
      padding: 0; }
    .s6 .gallery {
      width: 100%;
      height: auto;
      padding: 0 8px;
      margin: 0 auto; }
    .s6 .swiper-button-white {
      top: 51%;
      transform: scale(0.8); }
    .s6 .gallery-top {
      width: 100%;
      height: auto;
      overflow: hidden; }
      .s6 .gallery-top .swiper-slide {
        width: auto;
        height: auto; }
        .s6 .gallery-top .swiper-slide img {
          width: 100%;
          height: auto; }
    .s6 .gallery-thumbs {
      display: none;
      transform: translateX(-237px);
      overflow: visible;
      width: 95px; }
      .s6 .gallery-thumbs .swiper-wrapper {
        width: 178px;
        width: 356px; } }

.s7 {
  height: 602px;
  padding: 45px 0;
  background-color: #ffffff; }
  .s7 .container {
    padding: 0;
    max-width: 1060px;
    height: 602px; }
  .s7 .s-header-vertical {
    top: 140px; }
  .s7 .ytb-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px;
    overflow: hidden; }
  .s7 .ytb-container iframe,
  .s7 .ytb-container object,
  .s7 .ytb-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

@media screen and (max-width: 1259px) and (min-width: 640px) {
  .s7 {
    height: 320px;
    padding: 10px 18px; }
    .s7 .container {
      height: 320px;
      margin: 0 0 0 auto;
      max-width: 568px; }
    .s7 .s-header-vertical {
      top: 85px; } }

@media screen and (max-width: 639px) {
  .s7 {
    height: auto;
    padding: 18px 8px 0; }
    .s7 .container {
      height: 63.4vw;
      margin: 0 auto;
      max-width: none; }
    .s7 .s-header-vertical {
      top: auto; } }

.s8 {
  background-color: #ffffff;
  padding-top: 117px; }
  .s8 .container {
    padding: 0 129px; }
  .s8 h2 {
    margin-bottom: 52px; }
  .s8 .contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; }
    .s8 .contacts:after {
      content: '';
      width: 100%;
      order: 0; }
  .s8 .contact-item {
    font-size: 18px;
    letter-spacing: 0.18px;
    color: #6F7273;
    margin-right: 40px; }
    .s8 .contact-item a {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
    .s8 .contact-item .icon-box,
    .s8 .contact-item .s8-ico-png {
      margin-right: 18px; }
  .s8 .contact-item-1,
  .s8 .contact-item-2 {
    font-size: 21px;
    color: #525252;
    letter-spacing: 0.21px; }
  .s8 .s8-svg-1 {
    width: 32px; }
  .s8 .s8-svg-2 {
    width: 31.7px; }
  .s8 .s8-svg-3 {
    width: 35.3px; }
  .s8 .s8-svg-1 {
    height: 32px; }
  .s8 .s8-svg-2 {
    height: 24px; }
  .s8 .s8-svg-3 {
    height: 35.3px; }
  .s8 .s8-svg-1,
  .s8 .s8-svg-2 {
    fill: #AAA5A1; }
  .s8 .s8-ico-viber {
    background-image: url(sprite.png);
    background-position: -539px -115px;
    width: 42px;
    height: 44px; }
  .s8 .s8-ico-telegram {
    background-image: url(sprite.png);
    background-position: -581px -115px;
    width: 36px;
    height: 37px; }
  .s8 .s8-ico-inst {
    background-image: url(sprite.png);
    background-position: -689px -115px;
    width: 33px;
    height: 33px; }
  .s8 .s8-ico-google {
    background-image: url(sprite.png);
    background-position: -653px -115px;
    width: 36px;
    height: 35px; }
  .s8 .s8-ico-fb {
    background-image: url(sprite.png);
    background-position: -617px -115px;
    width: 36px;
    height: 36px; }
  .s8 .s8-ico-viber,
  .s8 .s8-ico-telegram,
  .s8 .s8-ico-inst,
  .s8 .s8-ico-google,
  .s8 .s8-ico-fb {
    display: inline-block;
    background-image: url(../img/sprite.png); }

@media screen and (max-width: 1259px) and (min-width: 640px) {
  .s8 {
    padding-top: 54px; }
    .s8 .container {
      padding: 0 55px; }
    .s8 h2 {
      margin-bottom: 27px; }
    .s8 .contact-item {
      margin-right: 0; }
      .s8 .contact-item .contact-item-txt {
        display: none; }
    .s8 .contact-item-1,
    .s8 .contact-item-2 {
      font-size: 17px;
      letter-spacing: 0.17px; }
    .s8 .contact-item-1 {
      margin-right: 10px; }
    .s8 .contact-item-2 {
      margin-left: 10px; }
    .s8 .contact-item-3,
    .s8 .contact-item-4,
    .s8 .contact-item-5,
    .s8 .contact-item-6,
    .s8 .contact-item-7 {
      margin-top: 25px; } }

@media screen and (max-width: 639px) {
  .s8 {
    padding: 39px 0 15px; }
    .s8 .container {
      padding: 0 26px;
      max-width: 450px; }
    .s8 h2 {
      margin-bottom: 22px; }
    .s8 .contact-item {
      margin-right: 0; }
      .s8 .contact-item .icon-box,
      .s8 .contact-item .s8-ico-png {
        margin-right: 8px; }
      .s8 .contact-item .s8-ico-png {
        transform: scale(0.85); }
      .s8 .contact-item .contact-item-txt {
        display: none; }
    .s8 .contact-item-1,
    .s8 .contact-item-2 {
      font-size: 17px;
      letter-spacing: 0.17px; }
    .s8 .contact-item-1 {
      margin-right: auto;
      margin-bottom: 19px; }
    .s8 .contact-item-2 {
      margin-left: auto; }
    .s8 .contact-item-1,
    .s8 .contact-item-2,
    .s8 .contact-item-7 {
      width: 100%; }
    .s8 .contact-item-3,
    .s8 .contact-item-4,
    .s8 .contact-item-5,
    .s8 .contact-item-6,
    .s8 .contact-item-7 {
      margin-top: 18px; }
    .s8 .s8-svg-1 {
      width: 23px; }
    .s8 .s8-svg-2 {
      width: 23px; }
    .s8 .s8-svg-3 {
      width: 35.3px; }
    .s8 .s8-svg-1 {
      height: 23px; }
    .s8 .s8-svg-2 {
      height: 17px; }
    .s8 .s8-svg-3 {
      height: 35.3px; } }

.s9 {
  padding: 42px 0;
  background-color: #ffffff; }
  .s9 .container {
    max-width: 1060px;
    height: 470px;
    padding: 0; }
  .s9 #map {
    height: 100%; }

@media screen and (max-width: 1259px) and (min-width: 640px) {
  .s9 .container {
    height: 333px;
    padding: 0 20px; } }

@media screen and (max-width: 639px) {
  .s9 {
    padding: 0; }
    .s9 .container {
      height: 320px;
      padding: 0; } }

.s10 {
  background-color: #E0E0E0; }
  .s10 .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 256px; }
  .s10 .footer-logo {
    width: 470px;
    height: 177px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .s10 .footer-logo svg {
      width: 470px; }
  .s10 .footer-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 185px;
    margin-bottom: 10px; }
  .s10 .footer-social-item {
    display: block; }
  .s10 .footer-ico-facebook {
    width: 36px;
    height: 36px; }
  .s10 .footer-ico-viber {
    background-image: url(sprite.png);
    background-position: -539px -115px;
    width: 42px;
    height: 44px; }
  .s10 .footer-ico-telegram {
    background-image: url(sprite.png);
    background-position: -581px -115px;
    width: 36px;
    height: 37px; }
  .s10 .footer-ico-inst {
    background-image: url(sprite.png);
    background-position: -689px -115px;
    width: 33px;
    height: 33px; }
  .s10 .footer-ico-fb {
    background-image: url(sprite.png);
    background-position: -617px -115px;
    width: 36px;
    height: 36px; }
  .s10 .footer-ico-viber,
  .s10 .footer-ico-telegram,
  .s10 .footer-ico-inst,
  .s10 .footer-ico-fb {
    display: block;
    background-image: url(../img/sprite.png); }

@media screen and (max-width: 1259px) and (min-width: 640px) {
  .s10 .container {
    height: 112px;
    padding: 0 0; }
  .s10 .footer-logo {
    width: 410px; }
    .s10 .footer-logo svg {
      width: 410px; }
  .s10 .footer-social {
    width: 195px;
    transform: translateX(-60px); } }

@media screen and (max-width: 639px) {
  .s10 .container {
    height: 117px;
    padding: 0; }
  .s10 .footer-social {
    display: none;
    width: 245px; } }

footer {
  background-color: #424242; }
  footer .container {
    padding: 20px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    letter-spacing: 0.33px;
    color: #EDF3F4;
    line-height: 1.3; }

@media screen and (max-width: 639px) {
  footer span {
    text-align: center; }
    footer span:first-of-type {
      margin-bottom: 10px; } }

.type-popup-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0;
  visibility: hidden;
  z-index: 300;
  transition: opacity .1s ease-in-out, visibility .1s ease-in-out; }
  .type-popup-wrapper.show-type-popup-wrapper {
    visibility: visible;
    opacity: 1; }

.type-popup {
  position: fixed;
  width: 1226px;
  left: 50%;
  top: 50%;
  margin-left: -613px;
  margin-top: -285px;
  min-height: 570px;
  z-index: 350;
  background-color: #EDEDED;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=3, Color='#000000');
  visibility: hidden;
  opacity: 0;
  transition: opacity .15s ease-in-out, visibility .15s ease-in-out; }
  .type-popup.show-type-popup {
    visibility: visible;
    opacity: 1; }
  .type-popup .container {
    padding: 28px 30px; }
  .type-popup h3 {
    font-size: 27px;
    letter-spacing: 0.68px;
    color: #8B8B8B;
    margin-bottom: 25px; }
  .type-popup .type-popup-left {
    width: 460px; }
  .type-popup .type-popup-content {
    display: flex;
    flex-direction: row; }
  .type-popup .build-type-popup-swiper {
    position: relative;
    width: 418px;
    height: 180px;
    overflow: hidden;
    margin: 0 auto 33px; }
  .type-popup .prev-popup-slide,
  .type-popup .next-popup-slide {
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    z-index: 100;
    cursor: pointer; }
  .type-popup .prev-popup-slide {
    left: 20px; }
  .type-popup .next-popup-slide {
    right: 20px; }
    .type-popup .next-popup-slide svg {
      transform: rotate(180deg); }
  .type-popup .swiper-slide {
    display: flex;
    flex-direction: column; }
  .type-popup .swiper-slide-next {
    transition: color .15s linear; }
    .type-popup .swiper-slide-next.active-color .slide-text {
      color: #F3914E; }
  .type-popup .swiper-arrow {
    fill: #525252;
    width: 16px;
    height: 32px;
    transition: all .15s linear; }
    .type-popup .swiper-arrow:hover {
      fill: #F3914E; }
  .type-popup .slide-content img {
    display: block;
    margin: 0 auto; }
  .type-popup .slide-img-wrap {
    height: 125px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px; }
  .type-popup .slide-text {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 17px;
    letter-spacing: 0.17px;
    color: #525252; }
  .type-popup .type-popup-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.16px;
    color: #525252; }
    .type-popup .type-popup-details span {
      margin-bottom: 7px;
      text-align: center; }
    .type-popup .type-popup-details .non-residential-area {
      margin-bottom: 20px; }
  .type-popup .total-area {
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.17px;
    margin-bottom: 7px; }
  .type-popup .building-area {
    font-size: 19px;
    line-height: 25px;
    letter-spacing: 0.19px; }
  .type-popup .type-popup-right {
    width: 705px;
    height: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .type-popup .type-popup-close {
    width: 42px;
    height: 42px;
    background: linear-gradient(90deg, #b8b8b8 0%, #b8b8b8 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 3px;
    top: 28px;
    right: 30px;
    cursor: pointer; }
    .type-popup .type-popup-close svg {
      width: 18px;
      height: 18px;
      fill: #ffffff; }
  .type-popup .type-popup-img-wrapper {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; }
    .type-popup .type-popup-img-wrapper.active {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.1);
      z-index: 99999; }
      .type-popup .type-popup-img-wrapper.active .type-popup-img {
        max-width: 70vh;
        max-height: 90vh;
        width: 100%;
        height: auto; }

@media screen and (max-width: 1259px) and (min-width: 640px) {
  .type-popup {
    width: 607px;
    top: 4vh;
    bottom: 4vh;
    margin-left: -303px;
    margin-top: 0;
    min-height: auto;
    overflow: auto; }
    .type-popup .container {
      padding: 28px 20px; }
    .type-popup h3 {
      margin-bottom: 40px;
      font-size: 22px;
      letter-spacing: 0.55px; }
    .type-popup .type-popup-left {
      width: 100%;
      margin-bottom: 30px; }
    .type-popup .type-popup-content {
      flex-direction: column; }
    .type-popup .build-type-popup-swiper {
      width: 532px;
      height: auto; }
    .type-popup .slide-img-wrap {
      height: auto; }
    .type-popup .type-popup-right {
      width: 100%;
      height: 310px; }
      .type-popup .type-popup-right img {
        width: 246px; }
    .type-popup .type-popup-close {
      top: 15px;
      right: 15px; } }

@media screen and (max-width: 639px) {
  .type-popup {
    left: 1vw;
    right: 1vw;
    top: 2vh;
    width: auto;
    bottom: 2vh;
    margin-left: 0;
    margin-top: 0;
    min-height: auto;
    overflow: auto; }
    .type-popup .container {
      padding: 60px 15px 25px; }
    .type-popup h3 {
      display: none; }
    .type-popup .type-popup-left {
      width: 100%;
      margin-bottom: 15px; }
    .type-popup .type-popup-content {
      flex-direction: column; }
    .type-popup .build-type-popup-swiper {
      width: 90%;
      max-width: 460px;
      height: auto;
      margin: 0 auto 12px; }
    .type-popup .prev-popup-slide {
      left: 0px; }
    .type-popup .next-popup-slide {
      right: 0px; }
    .type-popup .slide-content img {
      max-width: 90%; }
    .type-popup .slide-img-wrap {
      height: auto;
      margin-bottom: 10px; }
    .type-popup .type-popup-details {
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.14px; }
    .type-popup .total-area {
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.14px; }
    .type-popup .building-area {
      font-size: 14px;
      line-height: 25px;
      letter-spacing: 0.14px; }
    .type-popup .type-popup-right {
      width: 100%;
      max-width: 460px;
      margin: 0 auto;
      height: 172px; }
      .type-popup .type-popup-right img {
        width: 136px; }
    .type-popup .type-popup-close {
      top: 15px;
      right: 15px; } }

.menu-container {
  display: none; }

@media screen and (max-width: 1259px) and (min-width: 640px) {
  .menu-container {
    display: flex; }
  .content {
    max-width: 640px; }
  .call-btn-container {
    margin-right: -305px; }
  .s-header, .s-header-vertical {
    font-size: 25px;
    letter-spacing: 0.63px; }
  .s-header-vertical {
    left: 14px;
    top: 70px; }
  .s-header-common {
    display: block; }
  .s-header-plan-common {
    display: none; }
  .br-desktop1 {
    display: none; } }

@media screen and (max-width: 639px) {
  .menu-container {
    display: flex; }
  .content {
    min-width: 320px; }
  .call-btn-container {
    margin-right: -305px; }
  .s-header, .s-header-vertical {
    font-size: 20px;
    letter-spacing: 0.5px; }
  .s-header-vertical {
    left: 14px;
    top: 194px; }
  .br-desktop,
  .tablet-header {
    display: none; }
  .br-mobile,
  .s-header-plan-common {
    display: block; }
  .s-header-vertical {
    position: static;
    left: auto;
    top: auto;
    transform: rotate(0);
    writing-mode: none;
    transform-origin: 0;
    margin-bottom: 13px; }
  .call-btn-container {
    right: 3%;
    margin-right: 0; } }

/*# sourceMappingURL=style.css.map */
