.s2 {
  padding: 127px 0 86px;
  background-color: #ffffff;

  .preform-cards {
    display: flex;
    flex-direction: row;
    color: #F3914E;
    justify-content: space-around;
    margin-bottom: 46px;
  }

  svg {
    fill: #F3914E;
  }

  .preform-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    p {
      @extend %stsBold;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 0.38px;
    }
  }

  .svg-container {
    height: 68px;
    margin-bottom: 17px;
    display: flex;
    align-items: flex-end;
  }

  $svg-width: 162px,
  65px,
  130px,
  87px;
  @for $i from 1 through length($svg-width) {
    .s2-svg-#{$i} {
      width: nth($svg-width, $i);
    }
  }

  $svg-height: 54px,
  63px,
  58px,
  68px;
  @for $i from 1 through length($svg-height) {
    .s2-svg-#{$i} {
      height: nth($svg-height, $i);
    }
  }

  .content-txt {
    @extend %sdReg;
    font-size: 15px;
    line-height: 29px;
    letter-spacing: 0.38px;
    color: #525252;
    text-align: center;
  }
}



@media screen and (max-width: 1259px) and (min-width: 640px) {

  .s2 {
        padding: 64px 0 72px;
    // background-color: #ffffff;

    .container {
      padding: 0 50px;
    }

    .preform-cards {
      // display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      // color: #F3914E;
      height: 253px;
      // justify-content: space-between;
          margin-bottom: 53px;

    }

    svg {
      // fill: #F3914E;
    }

    .preform-card {
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      // justify-content: center;
      // text-align: center;

            &:nth-child(1){
        order: 1;
      }
      &:nth-child(3){
        order: 2;
      }
      &:nth-child(2){
        order: 3;
      }
      &:nth-child(4){
        order: 4;
      }

      p {
        // @extend %stsBold;
        font-size: 14px;
        // line-height: 20px;
        // letter-spacing: 0.38px;
      }
    }

    .svg-container {
      // height: 68px;
      margin-bottom: 13px;
      // display: flex;
      // align-items: flex-end;
    }

    $svg-width: 144px,
    50px,
    108px,
    62px;
    @for $i from 1 through length($svg-width) {
      .s2-svg-#{$i} {
        width: nth($svg-width, $i);
      }
    }

    $svg-height: 48px,
    48px,
    48px,
    48px;
    @for $i from 1 through length($svg-height) {
      .s2-svg-#{$i} {
        height: nth($svg-height, $i);
      }
    }

    .content-txt {
      // @extend %sdReg;
      font-size: 14px;
        line-height : 26px;
  letter-spacing : 0.35px;
      // color: #525252;
      // text-align: center;
    }
  }
}