.s7 {
  height: 602px;
  padding: 45px 0;
  background-color: #ffffff;
  

   .container {
   	padding: 0;
   	max-width: 1060px;
   	height: 602px;
   }

   .s-header-vertical {
   	top: 293px;

   }
}




// @mixin media_1200_s1 {
//   .s1 {
//     height: 342px;
//     &:before,
//     &:after {
//       height: 70px;
//     }
//     .g-news-header {
//       font-size: 32px;
//     }
//   }
// }