.s7 {
  height: 602px;
  padding: 45px 0;
  background-color: #ffffff;
  

   .container {
   	padding: 0;
   	max-width: 1060px;
   	height: 602px;
   }

   .s-header-vertical {
   	top: 293px;

   }
}




@media screen and (max-width: 1259px) and (min-width: 640px) {

.s7 {
  height: 320px;
  padding: 10px 18px;
  // background-color: #ffffff;
  

   .container {
        // padding: 0 18px;
    height: 320px;
    margin: 0 0 0 auto;
    max-width: 568px;
   }

   .s-header-vertical {
    top: 204px;

   }
}
}