.s7 {
  height: 602px;
  background:	green;
  padding: 45px 0;
   background-color: #ffffff;
}




// @mixin media_1200_s1 {
//   .s1 {
//     height: 342px;
//     &:before,
//     &:after {
//       height: 70px;
//     }
//     .g-news-header {
//       font-size: 32px;
//     }
//   }
// }