.s9 {
  padding: 42px 0;
  background-color: #ffffff;

  .container {
  	max-width: 1060px;
    height: 470px;
    padding: 0;
    // background-color: grey;
  }

  #map {
        height: 100%;
      }
}



@media screen and (max-width: 1259px) and (min-width: 640px) {

.s9 {
  // padding: 42px 0;
  // background-color: #ffffff;

  .container {
    // max-width: 1060px;
    height: 333px;
    padding: 0 20px;
    // background-color: grey;
  }

  #map {
        // height: 100%;
      }
}
}