/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-google_map {
  background-image: url(sprite.png);
  background-position: -42px -205px;
  width: 36px;
  height: 35px;
}
.icon-inst {
  background-image: url(sprite.png);
  background-position: -78px -205px;
  width: 33px;
  height: 33px;
}
.icon-logo {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 484px;
  height: 205px;
}
.icon-menu-arrow {
  background-image: url(sprite.png);
  background-position: -111px -205px;
  width: 14px;
  height: 7px;
}
.icon-viber {
  background-image: url(sprite.png);
  background-position: 0px -205px;
  width: 42px;
  height: 44px;
}
