<div class="type-popup-wrapper">
    <div class="type-popup">
        <div class="container">
            <div class="type-popup-close">
                <svg class="icon-box svg-plan-close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <use xlink:href="img/sprite.svg#plan-close"></use>
                </svg>
            </div>
            <h3>Технiко-економiчнi показники та план коттеджу</h3>
            <div class="type-popup-content">
                <div class="type-popup-left">
                    <div class="build-type-popup-swiper">
                        <div class="prev-popup-slide">
                            <svg class="icon-box swiper-arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <use xlink:href="img/sprite.svg#swiper-arrow"></use>
                            </svg>
                        </div>
                        <div class="next-popup-slide ">
                            <svg class="icon-box swiper-arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <use xlink:href="img/sprite.svg#swiper-arrow"></use>
                            </svg>
                        </div>
                        <div class="swiper-wrapper">
                        </div>
                    </div>
                    <div class="type-popup-details">
                    </div>
                </div>
                <div class="type-popup-right">
                    <div class="type-popup-img-wrapper">
                        <img class="type-popup-img type-popup-img-1" src="" alt="">
                    </div>
                    <div class="type-popup-img-wrapper">
                        <img class="type-popup-img type-popup-img-2" src="" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>